@page
@model TKW.AdminPortal.Areas.Incentive.Pages.Ajax.IncentiveListModel
@{
 

}
<div class="row">
    @{
        var i = 0;
        var count = 0;
    }

    @foreach (var incentive in Model.Incentives)
    {
        @(i > 0 && i % 3 == 0 ? Html.Raw("</div><div class='row'>") : Html.Raw(""))
        <div class="col-md-4 @(i > 0 && i % 3 != 0 ? "ps-1" : "")">
            <div class="hpanel">
                <div class="panel-body p-3">
                    <a class="float-end pb-1 btn btn-circle in btn-default" data-bs-toggle="modal" data-bs-target="#ActionModal" data-load-url="@Url.Page("Modal/AddTarget",new {  IncentiveTypeId = incentive.IncentiveTypeId , IncentiveTypeName = incentive.IncentiveTypeName } )"><i class="fa fa-plus"></i></a>
                    <h5 class="pb-3">@incentive.IncentiveTypeName</h5>
                    @foreach (var target in incentive.Targets)
                    {
                        var CurrentReward = target.DefaultReward;
                        DateTime CurrentDate = DateTime.Now;
                        @foreach (var k in target.CurrentAndUpcomingRewards)
                        {
                            if (CurrentDate >= k.StartDate && CurrentDate <= k.EndDate)
                            {
                                CurrentReward = k.Reward;
                            }
                        }
                        <div class="card card-body mb-2 p-2">
                            <div id="target@(count)" class="target-row" data-count="@count">
                                <div class="row">
                                    <div class="col-md-3 text-center px-1">
                                        <div class="font-bold text-nowrap fs-6">@target.Target</div>
                                        <div class="font-trans"><small>TARGET</small></div>
                                    </div>
                                    <div class="col-md-3 text-center px-1">
                                        <div class="font-bold text-nowrap fs-6">₹ @CurrentReward</div>
                                        <div class="font-trans"><small>REWARD</small></div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        @{ 
                                            var status = "Active";
                                            var statusClass = "h-bg-green";
                                            if (!target.IsActive)
                                            {
                                                status = "Inactive";
                                                statusClass = "bg-danger";
                                            }
                                        }
                                       <a data-bs-target="#ActionModal" data-bs-toggle="modal" data-load-url="@Url.Page("Modal/ActiveInactive",new { Id = target.Id , Target= target.Target , IncentiveTypeName = incentive.IncentiveTypeName , Status = target.IsActive})" class="badge rounded-1 text-decoration-none ActiveInActiveButton mt-2 text-white @statusClass"><span>@status</span></a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a class="collapse-button"><i class="fa fa-chevron-down mt-2"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse@(count)" data-count="@count" class="reward-row collapse mt-2 border-top pt-2">
                                <div class="small fw-bold text-success ps-3">
                                    Rewards
                                </div>
                                <div class="row my-2 fw-bold ms-2">
                                    <div class="col-md-5 fw-bold small text-start ps-2">Default</div>
                                    <div class="col-md-4 text-center text-success">₹ @target.DefaultReward</div>
                                    <div class="col-md-3 text-center"><a data-bs-target="#ActionModal" data-bs-toggle="modal" data-load-url="@Url.Page("Modal/EditDefaultReward",new { Id = target.Id , DefaultReward = target.DefaultReward ,Target = target.Target , IncentiveTypeName = incentive.IncentiveTypeName })"><i class="fa fa-pencil fw-bold"></i></a></div>
                                </div>
                                <div class="card">
                                    <div class="d-inline-flex card-header">
                                        <div class="flex-grow-1 justify-content-start fw-bold small">Upcoming</div>
                                        <div class="justify-content-end pe-1 fw-bold">
                                            <a class="pe-1" data-bs-target="#ActionModal" data-bs-toggle="modal" data-load-url="@Url.Page("Modal/AddReward",new { Id=target.Id , Target = target.Target , IncentiveTypeName = incentive.IncentiveTypeName })"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="list-group list-group-flush">
                                        @if (target.CurrentAndUpcomingRewards == null || target.CurrentAndUpcomingRewards.Count() == 0)
                                        {
                                            <div class="d-inline-flex list-group-item justify-content-center">
                                                <i>No Upcoming Rewards</i>
                                            </div>
                                        }
                                        else
                                        {
                                            
                                            @foreach (var reward in target.CurrentAndUpcomingRewards)
                                            {
                                                <div class="d-inline-flex list-group-item pe-4">
                                                    <div class="flex-grow-1 justify-content-start ms-1 small">
                                                        <span class="fw-bold text-success pe-1">₹</span><span class="fw-bold">@reward.Reward</span> <span class="font-trans text-nowrap mx-2">(@reward.StartDate.ToString("dd-MMM-yyyy") - @reward.EndDate.ToString("dd-MMM-yyyy"))</span>
                                                    </div>
                                                    <div class="justify-content-end ms-1 ">
                                                        <small><a data-bs-target="#ActionModal" data-bs-toggle="modal" data-load-url="@Url.Page("Modal/RemoveReward", new { TargetId = target.Id , RewardId = reward.Id , IncentiveTypeName = incentive.IncentiveTypeName })"><i class="fa fa-trash fw-bold"></i></a></small>
                                                        <a data-bs-target="#ActionModal" data-bs-toggle="modal" data-load-url="@Url.Page("Modal/EditReward", new { TargetId = target.Id , RewardId = reward.Id , IncentiveTypeName = incentive.IncentiveTypeName })"><i class="small fa fa-pencil fw-bold ms-3"></i></a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                </div>
            </div>
        </div>
        i++;
    }
</div>
<script>
    $(function () {

            $("div.target-row").click(function (e) {
                if ($(e.target).is('a.ActiveInActiveButton') || $(e.target).is('span')) return true;
                $(this).next().collapse('toggle');
            });

            $('div.reward-row').on("show.bs.collapse", function () {
                var rowId = "#target" + $(this).attr('data-count');
                $(rowId).find('.collapse-button i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
            });

            $('div.reward-row').on("hide.bs.collapse", function () {
                var rowId = "#target" + $(this).attr('data-count');
                $(rowId).find('.collapse-button i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
            });

        $(".ActiveInActiveButton").hover(function () {
            $(this).hasClass('h-bg-green') == true ? $(this).find('span').text("Inactivate") : $(this).find('span').text("Activate") ;
            $(this).toggleClass('h-bg-green bg-danger');
            }, function () {
                $(this).hasClass('bg-danger') == true ? $(this).find('span').text("Active") : $(this).find('span').text("Inactive");
                $(this).toggleClass('h-bg-green bg-danger');
        });

        });
</script>
