@page
@model TKW.AdminPortal.Areas.User.Pages.IndexModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Users";
}
<pagetitle title="User" description="List of Users.">
</pagetitle>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h5>
                            Filter
                        </h5>
                        <small>
                            Filter the list of user
                        </small>
                    </div>
                    <form data-ajax="true"
                          data-ajax-method="get"
                          data-ajax-url="@Url.Page("Ajax/UserList")"
                          data-ajax-update="#userlist"
                          data-ajax-begin="$('#userlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
                          id="filtersortform">

                        <div class="mb-3">
                            <label class="fw-bold col-form-label" @*asp-for="Filter.Search"*@>Search</label>
                            <input type="text" @*asp-for="Filter.Search"*@ class="form-control form-control-sm" placeholder="Search Requests" />
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label fw-bold">
                                Date
                            </label>
                            <div class="mb-3">
                                <div class="d-inline-block" style="width:45%;">
                                    <input type="text" asp-for="Filter.StartDate" class="form-control form-control-sm" value="@(String.Format("{0:dd/MM/yyyy}",Model?.Filter?.StartDate))" placeholder="Start date" data-dtpicker="true">
                                </div>
                                <div class="text-center text-muted d-inline-block" style="width:5%;">
                                    <i class="bi bi-dash"></i>
                                </div>
                                <div class="d-inline-block" style="width:45%;">
                                    <input type="text" asp-for="Filter.EndDate" class="form-control form-control-sm" value="@(String.Format("{0:dd/MM/yyyy}",Model?.Filter?.EndDate))" placeholder="End date" data-dtpicker="true">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label fw-bold">
                                Request Interval range
                            </label>
                            <div class="mb-3">
                                <div class="d-inline-block" style="width:46%;">
                                    <input type="text" @*asp-for="Filter.MinAmount"*@ class="form-control form-control-sm" placeholder="Start interval">
                                </div>
                                <div class="text-center text-muted d-inline-block" style="width:5%;">
                                    <i class="bi bi-dash"></i>
                                </div>
                                <div class="d-inline-block" style="width:46%;">
                                    <input type="text" @*asp-for="Filter.MaxAmount"*@ class="form-control form-control-sm" placeholder="End intervalccc">
                                </div>
                            </div>
                        </div>

                        @*<div class="mb-3">
            <label class="col-form-label fw-bold" asp-for="Filter.Types">Date types</label>
            <select asp-for="Filter.Types" asp-items="Model.Types" class=" form-select form-select-sm" multiple>
                <option></option>
            </select>
        </div>*@

                        <div class="mb-3">
                            <label class="col-form-label fw-bold" @*asp-for="Filter.Types"*@>Date type</label>
                            <select @*asp-for="Filter.Types" asp-items="Model.Types"*@ class=" form-select form-select-sm">
                                <option>Joining date</option>
                                <option>Last Request Submit date</option>
                                <option>Last Request Handle date</option>
                            </select>
                        </div>

                        @*<div class="mb-3">
            <label asp-for="Filter.StatusIds" class="fw-bold col-form-label">Status</label>
            <div>
                @{ var ischecked = false;
                    var checkname = Html.NameFor(m => m.Filter.StatusIds);
                }
                @foreach (var a in Model.Statuses)
                {
                    ischecked = (Model?.Filter?.StatusIds != null && Model.Filter.StatusIds.Contains(a.Id));
                    <div class="checkbox w-xs p-r-sm @(ischecked?"checkbox-primary":"checkbox-success") p-1" style="display:inline-block">
                        <input type="checkbox" name="@checkname" value="@a.Id" id="check_@a.Id" @(ischecked ? "checked" : "") />
                        <label for="check_@a.Id">@a.Name</label>
                    </div>
                }
            </div>
        </div>*@

                        <div class="mb-3">
                            <label @*asp-for="Filter.StatusIds"*@ class="fw-bold col-form-label">Address types</label>
                            <div>

                                <div class="checkbox w-xs p-r-sm p-1" style="display:inline-block">
                                    <input type="checkbox" id="1" name="Office">
                                    <label for="1">Office</label><br>
                                </div>
                                <div class="checkbox w-xs p-r-sm p-1" style="display:inline-block">
                                    <input type="checkbox" id="2" name="Home">
                                    <label for="2">Home</label><br>
                                </div>
                                <div class="checkbox w-xs p-r-sm p-1" style="display:inline-block">
                                    <input type="checkbox" id="3" name="Bhopal">
                                    <label for="3">Bhopal</label><br>
                                </div>
                                <div class="checkbox w-xs p-r-sm p-1" style="display:inline-block">
                                    <input type="checkbox" id="4" name="Indore">
                                    <label for="4">Indore</label><br>
                                </div>
                                <div class="checkbox w-xs p-r-sm p-1" style="display:inline-block">
                                    <input type="checkbox" id="5" name="Gwalior">
                                    <label for="5">Gwalior</label><br>
                                </div>

                            </div>
                        </div>

                        @*<div class="mb-3">
            <label class="  fw-bold col-form-label" for="@Html.NameFor(m=>m.Filter.SortBy)">Sort by</label>
            <select asp-for="Filter.SortBy" asp-items="Html.GetEnumSelectList<IndexModel.SortBy>()" class="form-select form-select-sm"></select>
        </div>*@

                        <div class="mb-3">
                            <label class="col-form-label fw-bold" @*asp-for="Filter.Types"*@>Sort by</label>
                            <select @*asp-for="Filter.Types" asp-items="Model.Types"*@ class=" form-select form-select-sm">
                                <option>Name</option>
                                <option>Joining date</option>
                                <option>Request Frequency</option>
                                <option>Request Count</option>
                                <option>Last Request date</option>
                            </select>
                        </div>
                        <div class="d-grid gap-1">
                            <button class="btn btn-success btn-block btn-sm" type="submit" id="filtersubmitbtn">Apply</button>
                            <button class="btn btn-default btn-block btn-sm" type="reset" id="filterresetbtn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="userlist">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img alt="Loading.." src="/images/ripple.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="userform_ajax" method="post"></form>
@section Styles{
    <link href="~/css/datetimepicker.min.css" asp-append-version="true" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/datetimepicker.min.js" asp-append-version="true" type="text/javascript"></script>

    <script>
        $(function () {

            

            var options = {
                useStrict: true,
                ignoreReadonly: true,
                format: "DD-MM-YYYY",
                showClear: true
            };
            $("[data-dtpicker]").attr({
                style: "background-color:#fff",
                readonly: 'readonly'
            }).datetimepicker(options);

             var model =@Html.Raw(JsonConvert.SerializeObject(new { Filter = Model.Filter, PageNo = Model.PageNo, PageSize = Model.PageSize }));
             $.ajax({
                url: '@(Url.Page("Ajax/UserList"))',
                 data: model,
                 beforeSend: function (xhr) {
                     xhr.setRequestHeader("RequestVerificationToken",
                         $("#userform_ajax input").val());
                 },
                method: 'POST',
                success: function (data) { $('#userlist').html(data); }
             });

            var startDate = $("[id='@Html.IdFor(m=>m.Filter.StartDate)']");
            var endDate = $("[id='@Html.IdFor(m=>m.Filter.EndDate)']");

            startDate.on("dp.change", function (e) {
                endDate.data("DateTimePicker").minDate(e.date);
            });
            endDate.on("dp.change", function (e) {
                startDate.data("DateTimePicker").maxDate(e.date);
            });

            $('#refreshreqbtn').click(function (e) {
                e.preventDefault();
                $('#userlist').html('<div class="text-center"><img src="/images/ripple.gif" alt="Loading.." /></div>');
                $('#userlist').load("@Url.Page("Ajax/UserList")" + window.location.search);
            });
            $("#printbtn").click(function (e) {
                e.preventDefault();
                window.open("/User/list/print" + window.location.search, "", "width=1000,height=600");
            });

            $("#filterresetbtn").click(function (e) {
                $(".select2-field").val('').trigger('change');
            });

            $("select .select2").select2();
        });
    </script>
}

