@page
@using Microsoft.AspNetCore.Routing
@model TKW.AdminPortal.Areas.User.Pages.Ajax.UserListModel
@{
    Layout = null;
    var filter = Model.Filter;
    var route = new RouteValueDictionary();
    //route["Filter.Search"] = filter.Search;
    //route["Filter.DateType"] = filter.DateType;
    //route["Filter.SortBy"] = filter.SortBy;
    route["Filter.StartDate"] = String.Format("{0:dd/MM/yyyy}", filter.StartDate);
    route["Filter.EndDate"] = String.Format("{0:dd/MM/yyyy}", filter.EndDate);
    route["Filter.MinAmount"] = filter.MinAmount;
    route["Filter.MaxAmount"] = filter.MaxAmount;
    var i = 0;
    if (filter.StatusIds != null)
    {
        foreach (var a in filter.StatusIds)
        {
            route["Filter.StatusIds[" + i++ + "]"] = a;
        }
    }


    var querystring = string.Join("&", route.Select(m => String.Format("{0}={1}", m.Key, m.Value))) + "&pageNo=" + Model.Payments.PageNumber + "&pageSize=" + Model.Payments.PageSize;
    string returnUrl = Url.Page("../Index") + "?" + querystring;
}

@if (Model.Payments == null || Model.Payments.Count == 0)
{
    <div class="text-center p-t-sm"><h4>No Users !</h4><div>There is no User.</div></div>
}
else
{
<div>

    @*<div class="font-bold text-end p-b-xs">
            @Model.Payments.FirstItemOnPage - @Model.Payments.LastItemOnPage of @Model.Payments.TotalItemCount
            </div>
            <table class="table table-condensed table-hover table-responsive vertical-mid-table animated fadeIn table-sm">
                <thead>
                    <tr>
                        <td colspan="8">
                            <div class="float-end">
                                <form data-ajax="true"
                                  data-ajax-method="GET"
                                  data-ajax-begin="$('#userlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
                                  data-ajax-update="#userlist"
                                  class="form-inline">

                                <div class="row">
                                    <div class="col-auto">
                                        <label for="pagesize" class="col-form-label fw-bold">Users per page:</label>
                                    </div>
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" name="pageSize" id="pagesize" style="max-width:50px;" />
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default btn-sm">Go</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom text-center">
                    <th>Picture</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Mobile no</th>
                    <th>Request Frequency</th>
                    <th>Total Completed Request</th>
                    <th>Joining Date</th>
                    <th>Last Request Date</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded float-start" alt="..."></td>
                    <td>1</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>2</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>3</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>4</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>5</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
            </tbody>
        </table>*@


    <div class="card mb-2">
        <div class="row mt-3 mb-1">
            <div class="col-md-3 mt-3">
                <div class=" btn-group-sm ms-3">
                    <button class="btn btn-default" type="button" id="refreshreqbtn"><span class="fa fa-refresh"></span>  Refresh</button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="font-bold text-end mx-3">
                    @Model.Payments.FirstItemOnPage - @Model.Payments.LastItemOnPage of @Model.Payments.TotalItemCount
                </div>

                <div class="mt-3 mx-3 mb-2">
                    <div class="float-end">
                        <form data-ajax="true"
                              data-ajax-method="GET"
                              data-ajax-begin="$('#userlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
                              data-ajax-update="#userlist"
                              class="form-inline">

                            <div class="row">
                                <div class="col-auto">
                                    <label for="pagesize" class="col-form-label fw-bold">Users per page:</label>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" name="pageSize" id="pagesize" style="max-width:50px;" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default btn-sm">Go</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST INTERVAL</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1">
                        <div class="text-center">
                            <div class="font-bold d-inline"> 10d 22h</div>
                            <div class="small font-trans d-inline"><small>AGO</small></div>
                        </div>
                        <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST INTERVAL</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1">
                        <div class="text-center">
                            <div class="font-bold d-inline"> 10d 22h</div>
                            <div class="small font-trans d-inline"><small>AGO</small></div>
                        </div>
                        <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST INTERVAL</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1">
                        <div class="text-center">
                            <div class="font-bold d-inline"> 10d 22h</div>
                            <div class="small font-trans d-inline"><small>AGO</small></div>
                        </div>
                        <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST INTERVAL</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="py-1">
                        <div class="text-center">
                            <div class="font-bold d-inline"> 10d 22h</div>
                            <div class="small font-trans d-inline"><small>AGO</small></div>
                        </div>
                        <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

    <div class="d-flex justify-content-center mt-3">
        <pager data-ajax="true"
               data-ajax-method="get"
               data-ajax-begin="window.location.hash='userlist'; $('#userlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
               data-ajax-update="#userlist"
               list="Model.Payments"
               url='pageNo=>Url.Page("userlist", route.Union(new RouteValueDictionary(new { pageNo, pageSize = Model.Payments.PageSize })))'>
        </pager>
    </div>

    route["pageSize"] = Model.Payments.PageSize;
    route["pageNo"] = Model.Payments.PageNumber;

<script>
    $(function () {
        if (history.pushState) {
            var newUrl = "@Html.Raw(Url.Page("../Index", route))";
            window.history.pushState({ path: newUrl },'', newUrl);
        }
        $('#PaymentModal').find('.modal-content').on('Payment.done', function (e, data) {
            $('#paymentlist').load('@Url.Page("paymentlist", route)');
        });

         $('#refreshreqbtn').click(function (e) {
                e.preventDefault();
                $('#userlist').html('<div class="text-center"><img src="/images/ripple.gif" alt="Loading.." /></div>');
                $('#userlist').load("@Url.Page("UserList")" + window.location.search);
            });


       });
</script>

}