@page
@using Microsoft.AspNetCore.Routing
@model TKW.AdminPortal.Areas.User.Pages.Ajax.UserListModel
@{
    Layout = null;
    var route = new RouteValueDictionary();
}
<div>

    @*<div class="font-bold text-end p-b-xs">
            @Model.Payments.FirstItemOnPage - @Model.Payments.LastItemOnPage of @Model.Payments.TotalItemCount
        </div>
        <table class="table table-condensed table-hover table-responsive vertical-mid-table animated fadeIn table-sm">
            <thead>
                <tr>
                    <td colspan="8">
                        <div class="float-end">
                            <form data-ajax="true"
                                  data-ajax-method="GET"
                                  data-ajax-begin="$('#userlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
                                  data-ajax-update="#userlist"
                                  class="form-inline">

                                <div class="row">
                                    <div class="col-auto">
                                        <label for="pagesize" class="col-form-label fw-bold">Users per page:</label>
                                    </div>
                                    <div class="col-auto">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" name="pageSize" id="pagesize" style="max-width:50px;" />
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default btn-sm">Go</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom text-center">
                    <th>Picture</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Mobile no</th>
                    <th>Request Frequency</th>
                    <th>Total Completed Request</th>
                    <th>Joining Date</th>
                    <th>Last Request Date</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded float-start" alt="..."></td>
                    <td>1</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>2</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>3</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>4</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
                <tr>
                    <td><img src="~/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38"></td>
                    <td>5</td>
                    <td>Shailendra</td>
                    <td>9669724508</td>
                    <td>85</td>
                    <td>90</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                    <td>27 Sep, 2021 07:26 PM</td>
                </tr>
            </tbody>
        </table>*@


    <div class="card mb-2">
        <div class="font-bold text-end p-b-xs mt-3 mx-3">
            @Model.Payments.FirstItemOnPage - @Model.Payments.LastItemOnPage of @Model.Payments.TotalItemCount
        </div>
        <table class=" table-condensed table-hover table-responsive vertical-mid-table animated fadeIn table-sm mx-4">

            <tr>
                <td colspan="8">
                    <div class="float-end">
                        <form data-ajax="true"
                              data-ajax-method="GET"
                              data-ajax-begin="$('#userlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
                              data-ajax-update="#userlist"
                              class="form-inline">

                            <div class="row">
                                <div class="col-auto">
                                    <label for="pagesize" class="col-form-label fw-bold">Users per page:</label>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" name="pageSize" id="pagesize" style="max-width:50px;" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default btn-sm">Go</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>

        </table>
    </div>


    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>

                        </div>
                    </div>

                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST FREQUENCY</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1">
                        <div class="col py-1">
                            <div class="text-center">
                                <div class="font-bold d-inline"> 10d 22h</div>
                                <div class="small font-trans d-inline"><small>AGO</small></div>
                            </div>
                            <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="col text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>

                        </div>
                    </div>

                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST FREQUENCY</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1">
                        <div class="col py-1">
                            <div class="text-center">
                                <div class="font-bold d-inline"> 10d 22h</div>
                                <div class="small font-trans d-inline"><small>AGO</small></div>
                            </div>
                            <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="col text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>

                        </div>
                    </div>

                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST FREQUENCY</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1">
                        <div class="col py-1">
                            <div class="text-center">
                                <div class="font-bold d-inline"> 10d 22h</div>
                                <div class="small font-trans d-inline"><small>AGO</small></div>
                            </div>
                            <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="col text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="card mb-2">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-md-3 ps-2">
                    <div class="d-flex mb-2">
                        <div class="pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div>
                            <div class="fw-bold d-inline">Shailendra</div>
                            <div class="fw-bolder d-inline ms-1">(#1)</div>
                            <small class="fw-light">(9669724508)</small>

                        </div>
                    </div>

                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">80d</div>
                        <div class="small font-trans ms-1"><small>REQUEST FREQUENCY</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1 text-center">
                        <div class="font-bold">90</div>
                        <div class="small font-trans"><small>REQUEST</small></div>
                    </div>
                </div>

                <div class="col-md-2 ps-2">
                    <div class="col py-1">
                        <div class="col py-1">
                            <div class="text-center">
                                <div class="font-bold d-inline"> 10d 22h</div>
                                <div class="small font-trans d-inline"><small>AGO</small></div>
                            </div>
                            <div class="small font-trans text-center"><small>LAST REQUEST SUBMITTED</small></div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 ps-2">
                    <div class="col text-center py-1">
                        <div class="font-bold">27 Sep, 2021<small class="fw-light"> 07:26 PM</small></div>
                        <div class="small font-trans"><small>JOINING DATE</small></div>
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>

<div class="d-flex justify-content-center mt-3">
    <pager data-ajax="true"
           data-ajax-method="get"
           data-ajax-begin="window.location.hash='paymentlist'; $('#paymentlist').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
           data-ajax-update="#paymentlist"
           list="Model.Payments"
           url='pageNo=>Url.Page("paymentlist", route.Union(new RouteValueDictionary(new { pageNo, pageSize = Model.Payments.PageSize })))'>
    </pager>
</div>