@page
@model TKW.AdminPortal.Areas.Request.Pages.Ajax.RequestRatingListModel
@using Microsoft.AspNetCore.Routing
@using TKW.ApplicationCore.Contexts.PurchaseContext.Aggregates.RequestAggregate
@{
    var route = new RouteValueDictionary();
    int SellerCount = 0;
    int SellerDivide = 0;
    int PickupBoyCount = 0;
    int PickupBoyDivide = 0;
    foreach (var item in Model.RatingSummary.SellerCounts)
    {
        SellerCount = SellerCount + item.RatingCount * item.Star;
        SellerDivide = SellerDivide + item.RatingCount;
    }
    foreach (var item in Model.RatingSummary.PickupBoyCounts)
    {
        PickupBoyCount = PickupBoyCount + item.RatingCount * item.Star;
        PickupBoyDivide = PickupBoyDivide + item.RatingCount;
    }
    double SellerAverageStar = 0;
    double PickupBoyAverageStar = 0;
    if (SellerCount != 0)
    {
        SellerAverageStar = SellerCount / (SellerDivide + 0.0);
    }
    if(PickupBoyCount != 0)
    {
        PickupBoyAverageStar = PickupBoyCount / (PickupBoyDivide + 0.0);
    }
    Layout = null;
}
@if (Model.Ratings == null || Model.Ratings.Count == 0)
{
    <div class="text-center p-t-sm"><div class="h5 mt-3">No Request !</div><div>There is no Ratings.</div></div>
}
else
{
    <div class="hpanel mb-2">
        <div class="panel-body p-3">
            <div class="row">
                @{
                    var sellerAvgStar = Math.Round(SellerAverageStar, 1);
                    var pickupBoyAvgStar = Math.Round(PickupBoyAverageStar, 1);
                }
                <div class="col-md-6 border border-2 border-start-0 border-top-0 border-bottom-0">

                    <div class="row p-b-xs">
                        <div class="col-md-6 d-flex align-items-center">
                            <div class="h6 font-bold">
                                Seller reviews
                            </div>
                        </div>

                        <div class="col-md-6 m-t-xxs m-b-xs">
                            <div class="text-end mb-0">
                                <span class="font-bold h5">@sellerAvgStar</span>
                                <span class="h6">
                                    @if (sellerAvgStar % 1 == 0)
                                    {
                                        @for (int i = 1; i <= sellerAvgStar; i++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = 1; i <= sellerAvgStar; i++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }
                                        <i class="fa fa-star-half-empty text-warning"></i>
                                    }
                                </span>
                            </div>
                            <span class="float-end small">( Based on @Model.RatingSummary.SellerCounts.Count() ratings )</span>
                        </div>
                    </div>

                    @if (SellerDivide != 0)
                    {
                        @for (var i = 4; i >= 0; i--)
                        {
                            var item = Model.RatingSummary.SellerCounts[i];
                            int widthPer = item.RatingCount * 100 / SellerDivide;
                            <div class="row h6 mb-0 small">
                                <div class="col-md-2 font-bold pt-1">@item.Star <i class="fa fa-star"></i></div>
                                <div class="col-md-8 p-1">
                                    <div class="progress" style="margin-bottom:-1px;height:.7rem;">
                                        <div class="progress-bar h-bg-green" style="width:@widthPer%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="col-md-2 font-bold ps-1 text-center pe-4 pt-1"><span> @widthPer %</span></div>
                            </div>
                        }
                    }
                    else
                    {
                        @for (var i = 4; i >= 0; i--)
                        {
                            var item = Model.RatingSummary.SellerCounts[i];
                            int widthPer = 0;
                            <div class="row h6 mb-0 small">
                                <div class="col-md-2 font-bold pt-1">@item.Star <i class="fa fa-star"></i></div>
                                <div class="col-md-8 p-1">
                                    <div class="progress" style="margin-bottom:-1px;height:.7rem;">
                                        <div class="progress-bar h-bg-green" style="width:@widthPer%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="col-md-2 font-bold ps-1 text-center pe-4 pt-1"><span> @widthPer %</span></div>
                            </div>
                        }
                    }
                </div>

                <div class="col-md-6">

                    <div class="row p-b-xs">

                        <div class="col-md-6 d-flex align-items-center">
                            <div class="h6 font-bold">
                                Pickup Boy reviews
                            </div>
                        </div>

                        <div class="col-md-6 m-t-xxs m-b-xs">
                            <div class="text-end mb-0">
                                <span class="font-bold h5">@pickupBoyAvgStar</span>
                                <span class="h6">
                                    @if (pickupBoyAvgStar % 1 == 0)
                                    {
                                        @for (int i = 1; i <= pickupBoyAvgStar; i++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }
                                    }
                                    else
                                    {
                                        @for (int i = 1; i <= pickupBoyAvgStar; i++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }
                                        <i class="fa fa-star-half-empty text-warning"></i>
                                    }
                                </span>
                            </div>
                            <span class="float-end small">( Based on @Model.RatingSummary.PickupBoyCounts.Count() ratings )</span>
                        </div>


                    </div>
                    @if (PickupBoyDivide != 0)
                    {
                        @for (var i = 4; i >= 0; i--)
                        {
                            var item = Model.RatingSummary.PickupBoyCounts[i];
                            int widthPer = item.RatingCount * 100 / PickupBoyDivide;
                            <div class="row h6 mb-0 small">
                                <div class="col-md-2 font-bold pt-1">@item.Star <i class="fa fa-star"></i></div>
                                <div class="col-md-8 p-1">
                                    <div class="progress" style="margin-bottom:-1px;height:.7rem;">
                                        <div class="progress-bar h-bg-green" style="width:@widthPer%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 font-bold ps-1 pt-1 text-center pe-4"><span> @widthPer %</span></div>
                            </div>
                        }
                    }
                    else
                    {
                        @for (var i = 4; i >= 0; i--)
                        {
                            var item = Model.RatingSummary.PickupBoyCounts[i];
                            int widthPer = 0;
                            <div class="row h6 mb-0 small">
                                <div class="col-md-2 font-bold pt-1">@item.Star <i class="fa fa-star"></i></div>
                                <div class="col-md-8 p-1">
                                    <div class="progress" style="margin-bottom:-1px;height:.7rem;">
                                        <div class="progress-bar h-bg-green" style="width:@widthPer%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 font-bold ps-1 pt-1 text-center pe-4"><span> @widthPer %</span></div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>

    @foreach (var item in Model.Ratings)
    {
    <div class="hpanel mb-2 detailPanel" href="@Url.Page("../Details", new { item.RequestId })" data-id="@item.RequestId">
        <div class="panel-body p-2">
            <div class="row">
                <div class="col-md-3 border-end-2 ps-2">
                    <div class="d-flex mb-2 ms-1">
                        <div class="flex-shrink-0 pe-3">
                            <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                        </div>
                        <div class="flex-grow-1">

                            <div class="font-bold">@item.Seller.Name</div>
                            <div class="fw-light small">(@item.Seller.MobileNo)</div>
                        </div>
                    </div>

                    <div class="p-b-xs d-flex justify-content-between mx-1"><span>#@item.RequestId </span><span class="border-end border-start px-2">₹ @Math.Round(item.Amount, 0) </span><span> @item.FranchiseName </span></div>
                    <div class="small fw-light pb-2 text-end"><small>Handle Date: @item.HandleDateTime.ToString("dd/MM/yyyy") (@item.HandleDateTime.ToString("HH:mm tt"))</small></div>

                </div>

                @if (item.SellerRatingStar == null)
                {
                    <div class="col-md-9">
                        <div class="font-bold">
                            Pickup Boy <span class="float-end">

                                @if (item.PickupBoyRatingStar < 3)
                                {
                                    @for (int x = 1; x <= item.PickupBoyRatingStar; x++)
                                    {
                                        <i class="fa fa-star text-danger"></i>
                                    }
                                }
                                else
                                {
                                    @if (item.PickupBoyRatingStar == 3)
                                    {
                                        @for (int x = 1; x <= 3; x++)
                                        {
                                            <i class="fa fa-star text-warning"></i>
                                        }

                                    }
                                    else
                                    {
                                        @for (int x = 1; x <= item.PickupBoyRatingStar; x++)
                                        {
                                            <i class="fa fa-star text-success"></i>
                                        }

                                    }
                                }
                            </span>
                        </div>

                        @if (item.PickupBoyFeedbackOptions.Count() == 0)
                        {
                            <div style="min-height:25%;"></div>
                        }
                        else
                        {
                            <div class="mt-1 small">
                                @foreach (var i in item.PickupBoyFeedbackOptions)
                                {
                                    <div class="border border-dark rounded-pill px-1 d-inline-block mt-1 me-1 small">@i.Name</div>
                                }
                            </div>
                        }




                        @if (item.PickupBoyRemark != null)
                        {
                            <div class="pe-1">
                                <small>@item.PickupBoyRemark</small>
                            </div>
                            <div class="pt-1 fw-light text-end small"><small class="float-start">@item.PickupBoyRatingUpdater.Name</small><small> @item.PickupBoyRatingTime </small></div>
                        }
                        else
                        {
                            <div class="pt-4 fw-light text-end small"><small class="float-start">@item.PickupBoyRatingUpdater.Name</small><small> @item.PickupBoyRatingTime </small></div>
                        }


                    </div>
                }
                else
                {

                    if (item.PickupBoyRatingStar == null)
                    {
                        <div class="col-md-9">

                            <div class="font-bold">
                                Seller <span class="float-end">
                                    @if (item.SellerRatingStar < 3)
                                    {
                                        @for (int x = 1; x <= item.SellerRatingStar; x++)
                                        {
                                            <i class="fa fa-star text-danger"></i>
                                        }
                                    }
                                    else
                                    {
                                        @if (item.SellerRatingStar == 3)
                                        {
                                            @for (int x = 1; x <= 3; x++)
                                            {
                                                <i class="fa fa-star text-warning"></i>
                                            }
                                        }
                                        else
                                        {
                                            @for (int x = 1; x <= item.SellerRatingStar; x++)
                                            {
                                                <i class="fa fa-star text-success"></i>
                                            }
                                        }
                                    }
                                </span>
                            </div>

                            @if (item.SellerFeedbackOptions.Count() == 0)
                            {
                                <div style="min-height:25%;"></div>
                            }
                            else
                            {
                                <div class="pb-1 mt-1 small">
                                    @foreach (var i in item.SellerFeedbackOptions)
                                    {
                                        <div class="border border-dark rounded-pill px-1 d-inline-block mt-1 me-1 small">@i.Name</div>
                                    }
                                </div>

                            }



                            @if (item.SellerRemark != null)
                            {
                                <div class="pe-1">
                                    <small>@item.SellerRemark</small>
                                </div>
                                <div class="pt-1 fw-light text-end small"><small>@item.SellerRatingTime</small></div>
                            }
                            else
                            {
                                <div class="pt-4 fw-light text-end small"><small>@item.SellerRatingTime</small></div>
                            }


                        </div>
                    }
                    else
                    {

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 pe-2">
                                    <div class="font-bold">
                                        Seller <span class="float-end">
                                            @if (item.SellerRatingStar < 3)
                                            {
                                                @for (int x = 1; x <= item.SellerRatingStar; x++)
                                                {
                                                    <i class="fa fa-star text-danger"></i>
                                                }
                                            }
                                            else
                                            {
                                                @if (item.SellerRatingStar == 3)
                                                {
                                                    @for (int x = 1; x <= 3; x++)
                                                    {
                                                        <i class="fa fa-star text-warning"></i>
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int x = 1; x <= item.SellerRatingStar; x++)
                                                    {
                                                        <i class="fa fa-star text-success"></i>
                                                    }
                                                }
                                            }
                                        </span>
                                    </div>

                                    @if (item.SellerFeedbackOptions.Count() == 0)
                                    {
                                        <div style="min-height:25%;"></div>
                                    }
                                    else
                                    {
                                        <div class="pb-1 mt-1 small">
                                            @foreach (var i in item.SellerFeedbackOptions)
                                            {
                                                <div class="border border-dark rounded-pill px-1 d-inline-block mt-1 me-1 small">@i.Name</div>
                                            }
                                        </div>
                                    }

                                    <div class="pe-1">
                                        @if (item.SellerRemark != null)
                                        {
                                            <small>@item.SellerRemark</small>
                                        }
                                    </div>

                                </div>
                                <div class="col-md-6 ps-2">
                                    <div class="mb-0 font-bold">
                                        Pickup Boy <span class="float-end">

                                            @if (item.PickupBoyRatingStar < 3)
                                            {
                                                @for (int x = 1; x <= item.PickupBoyRatingStar; x++)
                                                {
                                                    <i class="fa fa-star text-danger"></i>
                                                }
                                            }
                                            else
                                            {
                                                @if (item.PickupBoyRatingStar == 3)
                                                {
                                                    @for (int x = 1; x <= 3; x++)
                                                    {
                                                        <i class="fa fa-star text-warning"></i>
                                                    }

                                                }
                                                else
                                                {
                                                    @for (int x = 1; x <= item.PickupBoyRatingStar; x++)
                                                    {
                                                        <i class="fa fa-star text-success"></i>
                                                    }

                                                }
                                            }
                                        </span>
                                    </div>

                                    @if (item.PickupBoyFeedbackOptions.Count() == 0)
                                    {
                                        <div style="min-height:25%;"></div>
                                    }
                                    else
                                    {
                                        <div class="pb-1 mt-1 small">
                                            @foreach (var i in item.PickupBoyFeedbackOptions)
                                            {
                                                <div class="border border-dark rounded-pill px-1 d-inline-block mt-1 me-1 small">@i.Name</div>
                                            }
                                        </div>
                                    }

                                    <div class="pe-1">
                                        @if (item.PickupBoyRemark != null)
                                        {
                                            <small>@item.PickupBoyRemark</small>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 small p-r-xs fw-light text-end">
                                    <small>@item.SellerRatingTime</small>
                                </div>
                                <div class="col-md-6 p-l-xs fw-light text-end small">
                                    <small class="float-start">@item.PickupBoyRatingUpdater.Name</small><small class="float-end">@item.PickupBoyRatingTime @*14-Jan-2021(02:30 AM)*@</small>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

    }

    <div class="d-flex justify-content-center pt-4">
        <pager data-ajax="true"
               data-ajax-method="get"
               data-ajax-begin="window.location.hash='requestRatingList'; $('#requestRatingList').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
               data-ajax-update="#requestRatingList"
               list="Model.Ratings"
               url='pageNo => Url.Page("requestRatingList", route.Union(new RouteValueDictionary(new { pageNo, pageSize = Model.Ratings.PageSize })))'></pager>
    </div>

    route["pageSize"] = Model.Ratings.PageSize;
    route["pageNo"] = Model.Ratings.PageNumber;
}
<style>
    .border-start-2 {
        border-left: 2px solid lightgrey;
    }

    .border-end-2 {
        border-right: 2px solid lightgrey;
    }
</style>
<script>
    $(function () {
        $(".detailPanel").css('cursor', 'pointer');
        $(".detailPanel").click(function (e) {
            e.preventDefault();
            $('#DetailsModal').modal('show').find('.modal-content').html("<div class='modal-body text-center'><img src='/images/ripple.gif' alt='Loading..'/></div>").load('/Request/Ajax/Modal/Details/' + $(this).data('id'));
        });
    });

</script>