@page
@model TKW.AdminPortal.Areas.Request.Pages.Ajax.RequestRatingListModel
@using Microsoft.AspNetCore.Routing
@{
    var route = new RouteValueDictionary();
    var filter = Model.Filter;
    route["Filter.Search"] = filter.Search;
    route["Filter.DateType"] = filter.DateType;
    route["Filter.StartDate"] = String.Format("{0:dd/MM/yyyy}", filter.StartDate);
    route["Filter.EndDate"] = String.Format("{0:dd/MM/yyyy}", filter.EndDate);
    route["Filter.StartRatingStar"] = filter.StartRatingStar;
    route["Filter.EndRatingStar"] = filter.EndRatingStar;
    route["Filter.RatingStarType"] = filter.RatingStarType;
    route["Filter.ExcludeNoRemarkRating"] = filter.ExcludeNoRemarkRating;
    var c = 0;
    if (filter.FranchiseIds != null)
    {
        foreach (var a in filter.FranchiseIds)
        {
            route["Filter.FranchiseIds[" + c++ + "]"] = a;
        }
    }
    c = 0;
    if (filter.SellerIds != null)
    {
        foreach (var a in filter.SellerIds)
        {
            route["Filter.SellerIds[" + c++ + "]"] = a;
        }
    }
    c = 0;
    if (filter.PickupBoyIds != null)
    {
        foreach (var a in filter.PickupBoyIds)
        {
            route["Filter.PickupBoyIds[" + c++ + "]"] = a;
        }
    }
    c = 0;
    if (filter.FeedbackOptionIds != null)
    {
        foreach (var a in filter.FeedbackOptionIds)
        {
            route["Filter.FeedbackOptionIds[" + c++ + "]"] = a;
        }
    }
    Layout = null;
}
@if (Model.Ratings == null || Model.Ratings.Count == 0)
{
<div class="card">
    <div class="card-body text-center"><div class="h5">No Rating !</div><div>There is no ratings.</div></div>

</div>
}
else
{

    @foreach (var item in Model.Ratings)
    {
        bool hasSellerRating = item.SellerRatingStar != null && item.SellerRatingStar > 0;
        bool hasPickupBoyRating = item.PickupBoyRatingStar != null && item.PickupBoyRatingStar > 0;
        <div class="card mb-2 detailPanel" href="@Url.Page("../Details", new { item.RequestId })" data-id="@item.RequestId">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 border-end ps-2">
                        <div class="d-flex mb-2 ms-1">
                            <div class="flex-shrink-0 pe-3">
                                <img src="/images/default/profilex124.png" class="rounded-circle" alt="logo" height="38" width="38">
                            </div>
                            <div class="flex-grow-1">
                                <div class="fw-bold">@item.Seller.Name</div>
                                <small class="fw-light">(@item.Seller.MobileNo)</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center py-1">
                                <div class="font-bold text-nowrap">@item.RequestId</div>
                                <div class="small font-trans"><small>REQUEST ID</small></div>
                            </div>
                            <div class="col text-center py-1">
                                <div class="font-bold text-nowrap">@item.FranchiseName</div>
                                <div class="small font-trans"><small>FRANCHISE</small></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center py-1">
                                <div class="font-bold text-nowrap">₹ @item.Amount.ToString("G29")</div>
                                <div class="small font-trans"><small>AMOUNT</small></div>
                            </div>
                            <div class="col text-center py-1">
                                <div class="font-bold text-nowrap">@item.HandleDateTime.ToString("dd MMMM, yy")</div>
                                <div class="small font-trans"><small>HANDLE DATE</small></div>
                            </div>
                        </div>
                   
                        @*<div class="p-b-xs d-flex justify-content-between mx-1"><span>Id: <strong>@item.RequestId</strong> </span><span class="border-end"></span><span>Franchise: <strong>@item.FranchiseName</strong></span></div>
        <div class="">Amount: <strong>₹ @item.Amount.ToString("G29")</strong> </div>
        <div class="fw-light pb-2 text-end">Handle Date: <strong>@item.HandleDateTime.ToString("dd MMMM, yy")</strong></div>*@
                    </div>
                    <div class="col-md-9 px-4">
                        <div class="row">
                            <div class="col-md-6 pe-3">
                                <div class="fw-bold">
                                    Seller
                                    <span class="float-end">
                                        @if (hasSellerRating)
                                        {
                                            var starClass = (item.SellerRatingStar > 3 ? "text-success" : item.SellerRatingStar < 3 ? "text-danger" : "text-warning");
                                            @for (int x = 1; x <= item.SellerRatingStar; x++)
                                            {
                                                <i class="fa fa-star @starClass"></i>
                                            }
                                        }
                                        else
                                        {
                                            for (int x = 1; x <= 5; x++)
                                            {
                                                <i class="fa fa-star-o"></i>
                                            }
                                        }

                                    </span>
                                </div>
                                @if (!hasSellerRating)
                                {
                                    <div class="text-center p-4">
                                        <div class="p-3 fst-italic">No rating available</div>
                                    </div>
                                }
                                else
                                {
                                    @if (item.SellerFeedbackOptions == null || item.SellerFeedbackOptions.Count == 0)
                                    {
                                        <div class="py-3"></div>
                                    }
                                    else
                                    {
                                        <div class="py-1 small">
                                            @foreach (var i in item.SellerFeedbackOptions)
                                            {
                                                <div class="border border-dark rounded-pill px-1 d-inline-block my-1 small">@i.Name</div>
                                            }
                                        </div>
                                    }

                                    <div class="pe-1">
                                        @if (!string.IsNullOrWhiteSpace(item.SellerRemark))
                                        {
                                            <small>@item.SellerRemark</small>
                                        }
                                        else
                                        {
                                            <div class="text-center p-2 pb-3 mb-3">
                                                <em>No remark</em>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>

                            <div class="col-md-6 ps-3">
                                <div class="fw-bold">
                                    Pickup boy
                                    @if (hasPickupBoyRating)
                                    {<span class="small fw-light"><small>(by @item.PickupBoyRatingUpdater.Name)</small></span>
                                    var starClass = (item.PickupBoyRatingStar > 3 ? "text-success" : item.PickupBoyRatingStar < 3 ? "text-danger" : "text-warning");
                                    <span class="float-end">
                                        @for (int x = 1; x <= item.PickupBoyRatingStar; x++)
                                        {
                                            <i class="fa fa-star @starClass"></i>
                                        }
                                    </span>
                                }
                                else
                                { <span class="float-end">
                                    @for (int x = 1; x <= 5; x++)
                                    {
                                    <i class="fa fa-star-o"></i>
                                    }
                                </span>
                                }
                                </div>
                                @if (!hasPickupBoyRating)
                                {
                            <div class="text-center p-4">
                                <div class="p-3 fst-italic">No rating available</div>
                            </div>
                                }
                                else
                                {
                                    @if (item.PickupBoyFeedbackOptions == null || item.PickupBoyFeedbackOptions.Count == 0)
                                    {
                                        <div class="py-3"></div>
                                    }
                                    else
                                    {
                                        <div class="py-1 small">
                                            @foreach (var i in item.PickupBoyFeedbackOptions)
                                            {
                                                <div class="border border-dark rounded-pill px-1 d-inline-block my-1 small">@i.Name</div>
                                            }
                                        </div>
                                    }

                                    <div class="pe-1">
                                        @if (!string.IsNullOrWhiteSpace(item.PickupBoyRemark))
                                        {
                                            <small>@item.PickupBoyRemark</small>
                                        }
                                        else
                                        {
                                            <div class="text-center p-2 pb-3 mb-3">
                                                <em>No remark</em>
                                            </div>
                                        }
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 fw-light text-end">
                                @if (item.SellerRatingTime.HasValue)
                                {
                                    <small>@item.SellerRatingTime.Value.ToString("dd MMMM, yy hh:mm tt")</small>
                                }
                            </div>
                            <div class="col-md-6 fw-light text-end">
                                @if (item.PickupBoyRatingTime.HasValue)
                                {
                                <small>@item.PickupBoyRatingTime.Value.ToString("dd MMMM, yy hh:mm tt")</small>
                                }
                            </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>

    }

    <div class="d-flex justify-content-center pt-4">
        <pager data-ajax="true"
               data-ajax-method="get"
               data-ajax-begin="window.location.hash='requestRatingList'; $('#requestRatingList').html('<div class=\'text-center\'><img src=\'/images/ripple.gif\' alt=\'Loading..\' /></div>');"
               data-ajax-update="#requestRatingList"
               list="Model.Ratings"
               url='pageNo => Url.Page("requestRatingList", route.Union(new RouteValueDictionary(new { pageNo, pageSize = Model.Ratings.PageSize })))'></pager>
    </div>
    route["pageSize"] = Model.Ratings.PageSize;
    route["pageNo"] = Model.Ratings.PageNumber;
}
<script>
    $(function () {
         if (history.pushState) {
            var newUrl = "@Html.Raw(Url.Page("../Ratings", route))";
            window.history.pushState({ path: newUrl },'', newUrl);
        }
        $(".detailPanel").css('cursor', 'pointer');
        $(".detailPanel").click(function (e) {
            e.preventDefault();
            $('#DetailsModal').modal('show').find('.modal-content').html("<div class='modal-body text-center'><img src='/images/ripple.gif' alt='Loading..'/></div>").load('/Request/Ajax/Modal/Details/' + $(this).data('id'));
        });
    });

</script>