@page "{id:int}"
@model TKW.AdminPortal.Areas.PickupSession.Pages.Ajax.TransactionsModel
@using TKW.ApplicationCore.Contexts.PaymentContext.Aggregates
@using TKW.ApplicationCore.Contexts.PickupSessionContext.Aggregates.PickupSessionAggregate
@{
    Layout = null;
}

<div class="d-flex">
    <div class="d-inline-block flex-fill pe-4">
        <div class="hpanel">
            <div class="panel-body p-0">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="h6 mb-1">Cash</div>
                    </div>
                    @if (Model.CashTransaction == null || Model.CashTransaction.Count == 0)
                    {
                        <div class="list-group-item">
                            <div class="text-center p-sm">There is no cash transaction.</div>
                        </div>
                    }
                    else
                    {
                        foreach (var c in Model.CashTransaction)
                        {
                            if (c.TypeId == PickupSessionCashTransactionType.Manager.Id)
                            {
                                <a href="#" class="list-group-item">
                                    <div class="row">
                                        <div class="w-50 py-2">
                                            <div class="fw-bold">Manager</div>
                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            @if (c.Amount > 0)
                                            {
                                                <div>+ ₹<span class="h6 fw-bold text-success"> @c.Amount.ToString("G29")</span></div>
                                            }
                                            else
                                            {
                                                <div>- ₹<span class="text-danger h6 fw-bold"> @((c.Amount * -1).ToString("G29"))</span></div>
                                            }

                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            <small class="font-trans">@String.Format("{0:hh:mm tt}", c.Time)</small><br />
                                        </div>
                                    </div>
                                </a>
                            }
                            else if (c.TypeId == PickupSessionCashTransactionType.Request.Id)
                            {
                                <a href="@Url.Page("../Details", new { area ="Request", c.RefId})" class="reqdetailbtn list-group-item" data-id="@c.RefId">
                                    <div class="row">
                                        <div class="w-50">
                                            <div class="fw-bold">@c.Detail</div>
                                            <div><small class="text-muted">Request (#@c.RefId)</small></div>
                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            @if (c.Amount > 0)
                                            {
                                                <div>+ ₹<span class="h6 fw-bold text-success"> @c.Amount.ToString("G29")</span></div>
                                            }
                                            else
                                            {
                                                <div>- ₹<span class="text-danger h6 fw-bold"> @((c.Amount * -1).ToString("G29"))</span></div>
                                            }

                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            <small class="font-trans">@String.Format("{0:hh:mm tt}", c.Time)</small><br />
                                        </div>
                                    </div>
                                </a>
                            }
                            else if (c.TypeId == PickupSessionCashTransactionType.Expense.Id)
                            {
                                <a href="#ExpenseModal" class="expdetailbtn list-group-item" data-bs-toggle="modal" data-bs-target="#ExpenseModal" data-load-url="@Url.Page("Modal/Details", new {area = "Expense", c.Id})" data-id="@c.RefId">
                               
                                    <div class="row">
                                        <div class="w-50">
                                            <div class="fw-bold">@c.Detail</div>
                                            <div><small class="text-muted">Expense (#@c.RefId)</small></div>
                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            @if (c.Amount > 0)
                                            {
                                                <div>+ ₹<span class="h6 fw-bold text-success"> @c.Amount.ToString("G29")</span></div>
                                            }
                                            else
                                            {
                                                <div>- ₹<span class="text-danger h6 fw-bold"> @((c.Amount * -1).ToString("G29"))</span></div>
                                            }

                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            <small class="font-trans">@String.Format("{0:hh:mm tt}", c.Time)</small><br />
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="#DetailModel" data-load-url="@Url.Page("Modal/Details", new {area = "Sell", id = c.RefId})" data-bs-toggle="modal" class="list-group-item selldetailbtn">
                                    <div class="row">
                                        <div class="w-50">
                                            <div class="fw-bold">@c.Detail</div>
                                            <div><small class="text-muted">Sell (#@c.RefId)</small></div>
                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            @if (c.Amount > 0)
                                            {
                                                <div>+ ₹<span class="h6 fw-bold text-success"> @c.Amount.ToString("G29")</span></div>
                                            }
                                            else
                                            {
                                                <div>- ₹<span class="text-danger h6 fw-bold"> @((c.Amount * -1).ToString("G29"))</span></div>
                                            }

                                        </div>
                                        <div class="w-25 d-flex align-items-center">
                                            <small class="font-trans">@String.Format("{0:hh:mm tt}", c.Time)</small><br />
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="d-inline-block flex-fill pe-4">
        <div class="hpanel">
            <div class="panel-body p-0">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="h6 mb-1">Paytm</div>
                    </div>

                    @if (Model.Paytm == null || Model.Paytm.Count == 0)
                    {
                        <div class="list-group-item">
                            <div class="text-center p-sm">There is no paytm transaction.</div>
                        </div>
                    }
                    else
                    {
                        @foreach (var c in Model.Paytm)
                        {
                            <a href="@Url.Page("../Details", new { area ="Request", c.RequestId})" class="reqdetailbtn list-group-item" data-id="@c.RequestId">
                                <div class="row">
                                    <div class="w-50">
                                        <div class="fw-bold">@c.PayeeName</div>
                                        <div> <small class="text-muted">Request (#@c.RequestId)</small></div>
                                    </div>
                                    <div class="w-25 d-flex align-items-center">
                                        <div>- ₹<span class="text-danger h6 fw-bold"> @c.Amount.ToString("G29")</span></div>
                                    </div>
                                    <div class="w-25">
                                        <div><small class="font-trans">@String.Format("{0:hh:mm tt}", c.Time)</small></div>
                                        @if (c.StatusId == PaymentTransactionStatus.Successful.Id)
                                        {<span class="badge h-bg-green">Success</span>}
                                        else if (c.StatusId == PaymentTransactionStatus.Failed.Id)
                                        { <span class="badge badge-danger">Failed</span>}
                                        else
                                        {
                                            <span class="badge badge-danger">Pending</span>
                                        }
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="d-inline-block flex-fill">
        <div class="hpanel">
            <div class="panel-body p-0">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="h6 mb-1">Cash</div>
                    </div>
                    @if (Model.Upi == null || Model.Upi.Count == 0)
                    {
                        <div class="list-group-item">
                            <div class="text-center p-sm">There is no UPI transaction.</div>
                        </div>
                    }
                    else
                    {
                        foreach (var c in Model.Upi)
                        {


                            <a href="@Url.Page("../Details", new { area ="Request", c.RequestId})" class="reqdetailbtn list-group-item" data-id="@c.RequestId">
                                <div class="row">
                                    <div class="w-50">
                                        <div class="fw-bold">@c.PayeeName</div>
                                        <div><small class="text-muted">Request (#@c.RequestId)</small></div>
                                    </div>
                                    <div class="w-25 d-flex align-items-center">
                                        @if (c.Amount > 0)
                                        {
                                            <div>+ ₹<span class="h6 fw-bold text-success"> @c.Amount.ToString("G29")</span></div>
                                        }
                                        else
                                        {
                                            <div>- ₹<span class="text-danger h6 fw-bold"> @((c.Amount * -1).ToString("G29"))</span></div>
                                        }

                                    </div>
                                    <div class="w-25 align-items-center">
                                        <div><small class="font-trans">@String.Format("{0:hh:mm tt}", c.Time)</small></div>
                                        <div>
                                            @if (c.StatusId == PaymentTransactionStatus.Successful.Id)
                                            {
                                                <span class="badge badge-success">Success</span>
                                            }
                                            else if (c.StatusId == PaymentTransactionStatus.Failed.Id)
                                            { 
                                                <small class="badge badge-danger">Failed</small>
                                                }
                                            else
                                            {
                                                <small class="badge badge-primary">Pending</small>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        $(document).on("click", ".reqdetailbtn", function (e) {
            e.preventDefault();
            $('#DetailsModal').modal('show').find('.modal-content').html("<div class='modal-body text-center'><img src='/images/ripple.gif' alt='Loading..'/></div>").load('/Request/Ajax/Modal/Details/' + $(this).data('id'));
        });

        $(document).on("click", ".expdetailbtn", function (e) {
            e.preventDefault();
            $('#ExpenseModal').modal('show').find('.modal-content').html("<div class='modal-body text-center'><img src='/images/ripple.gif' alt='Loading..'/></div>").load('/Expense/Ajax/Modal/Details/' + $(this).data('id'));
        });
    });

</script>
