@page 
@using Microsoft.AspNetCore.Routing
@model TKW.AdminPortal.Areas.UserProfile.Pages.Ajax.UserProfileModel
@{
    Layout = null;
   
}


<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <h6 class="header-title ms-3 mt-3">Payment Details</h6>
            <div class="card-body px-0">
                <div class="ps-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>DEFAULT PAYMENT METHOD</strong></div>
                        <span>N/A</span>
                    </div>
                    <button class="btn btn-outline btn-xs float-end me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square fs-6"></i>
                    </button>
                </div>

                <hr />

                <div class="ps-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>UPI ADDRESS</strong> </div>
                        <span>ghshb74@oksbi</span>
                    </div>
                    <button class="btn btn-outline btn-xs float-end me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square fs-6"></i>
                    </button>
                </div>

                <div class="d-flex align-items-center ps-3 mt-4">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>BANK ACCOUNT DETAILS</strong></div>
                        <div>
                            <span>4767834674647375</span>
                            <span class="small text-muted mt-2 mb-2 ms-1">(IFSC:<span class="ms-1">SBIN8834592)</span></span>
                        </div>
                    </div>
                    <div class="me-3">
                        <button class="btn btn-outline btn-xs d-inline float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-pencil-square fs-6"></i>
                        </button>
                    </div>
                </div>

                <div class="ps-3 d-flex align-items-center mt-4">
                    <div class="flex-fill">
                        <div class="small font-trans text-muted mb-2"><strong>PAYTM WALLET NO.</strong></div>
                        <span>7474847885</span>
                    </div>
                    <button class="btn btn-outline btn-xs float-end me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-pencil-square fs-6"></i>
                    </button>
                </div>

            </div>
        </div>


        <div class="card mb-3">
            <div class="d-flex align-items-center">
                <div class="flex-fill">
                    <h6 class="header-title ms-3 mt-3">Addresses</h6>
                </div>
                <div>
                    <button class="btn btn-circle in btn-default me-3 float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body px-0 ">
                <div class="ps-3">
                    <div class="small font-trans text-muted mb-2"><strong>DEFAULT ADDRESS</strong></div>
                    <div class="d-flex align-items-center">
                        <div class="flex-fill">
                            <address class="m-b-none d-inline" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" pincode="6748978" state="Madhya Pradesh"></address>
                        </div>
                        <div>
                            <button class="btn btn-outline btn-xs me-3 float-end" data-bs-target="#EditModal" data-bs-toggle="modal" type="button" @*data-url="@Url.Page("Pages/Ajax/Address/Modal/Edit", new { })*@>
                                <i class="bi bi-pencil-square fs-6"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <hr />

               

            <div class="ps-3">
                <div class="small font-trans text-muted mb-2"><strong>OTHER ADDRESS</strong></div>
                <div class="d-flex align-items-center">
                    <div class="flex-fill">
                        <address class="m-b-none d-inline" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" pincode="6748978" state="Madhya Pradesh"></address>
                    </div>
                    <div class="dropdown me-3 float-end">
                        <button class="btn btn-outline btn-xs" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical fs-6"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            @*<li> <a href="#DeleteAddressModal" class="btn btn-xs btn-outline btn-danger mt-2" data-bs-toggle="modal" data-load-url="@Url.Page("Ajax/Modal/RemovePickupBoy", new {Model.PickupSession.Id ,HandlerId  =  pickupboy.Id})"> Remove</a></li>*@
                            <li><a href="#DeleteAddressModal" class="dropdown-item" data-bs-toggle="modal"  aria-hidden="true"  data-load-url="@Url.Page("Modal/DeleteAddress",new { })">Delete</a></li>
                            <li><a class="dropdown-item" href="Modal/DeleteAddress">Set as Default</a></li>
                        </ul>
                    </div>
                </div>

                }

                <div class="mt-3 d-flex align-items-center">
                    <div class="flex-fill">
                        <address class="m-b-none d-inline" type="Shop" addressline="dasfefa, Gautam Nagar Jhuggies Area" city="Bhopal" pincode="6748978" state="Madhya Pradesh"></address>
                    </div>
                    <div class="dropdown me-3 float-end">
                        <button class="btn btn-outline btn-xs" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical fs-6"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                            <li><a class="dropdown-item" href="#">Set as Default</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="card mb-3">
            <h6 class="header-title ms-3 mt-3">Impact</h6>
            <div class="card-body">

                <table class="table table-condensed table-responsive vertical-mid-table animated fadeIn mb-0">
                    <tbody>
                        <tr class="text-center">
                            <td>
                                <div class="mb-0"><span class="h5 fw-bold text-muted">0</span></div>
                                <div class="small font-trans text-muted mt-2"><strong>TREES SAVED</strong> </div>
                            </td>
                            <td>
                                <div class="mb-0"><span class="h5 fw-bold text-muted">0</span><small> kW hr </small></div>
                                <div class="small font-trans text-muted mt-2"><strong>ENERGY SAVED</strong> </div>
                            </td>
                        </tr>
                        <tr class="text-center" style="border:hidden;">
                            <td>
                                <div class="mb-0"><span class="h5 fw-bold text-muted">0</span><small> Litre </small></div>
                                <div class="small font-trans text-muted mt-2"><strong>OIL SAVED</strong> </div>
                            </td>
                            <td>
                                <div class="mb-0"><span class="h5 fw-bold text-muted">0</span><small> Litre </small></div>
                                <div class="small font-trans text-muted mt-2"><strong>WATER SAVED</strong> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <div class="mb-0"><span class="h5 fw-bold text-muted">0</span><small> sq ft </small></div>
                    <div class="small font-trans text-muted mt-2"><strong>LANDFILL SAVED</strong> </div>
                </div>

            </div>
        </div>

    </div>



    <div class="col-md-9">
        <div class="card mb-3">
            <h6 class="header-title ms-3 mt-3">Purchase Summary Details</h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body text-center border">
                            <div class="row">
                                <div class="col-md-4 px-0">
                                    <span class="fs-6 fw-bold">20</span>
                                    <div class="small font-trans text-muted mt-2"><strong>REQUEST COMPLETED</strong> </div>
                                </div>

                                <div class="col-md-4 px-0">
                                    <span class="fs-6 fw-bold">20</span>
                                    <div class="small font-trans text-muted mt-2"><strong>REQUEST HANDLED</strong> </div>
                                </div>

                                <div class="col-md-4 px-0">
                                    <span class="fs-6 fw-bold">20</span>
                                    <div class="small font-trans text-muted mt-2"><strong>REQUEST CANCELLED</strong> </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card-body text-center border">
                            <span class="fw-bold fs-6">5</span>
                            <small class="fw-bold">DAYS</small>
                            <div class="small font-trans text-muted mt-2"><strong>REQUEST INTERVAL</strong> </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class=" card-body text-center border">
                            <small class="fw-bold">₹</small>
                            <span class="fw-bold fs-6"> 2000</span>
                            <div class="small font-trans text-muted mt-2"><strong>AVERAGE BILL AMOUNT</strong> </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body text-center border">
                            <div class="row">
                                <div class="col-md-6 border-end">
                                    <span class="ms-2 fs-6 fw-bold">4.2</span>
                                    <span><small class="ms-2 fw-bold">(out of  10)</small></span>
                                    <div class="small font-trans text-muted mt-2"><strong>GIVEN RATINGS</strong> </div>
                                </div>
                                <div class="col-md-6">
                                    <span class="ms-2 fs-6 fw-bold">4.2</span>
                                    <span><small class="ms-2 fw-bold">(out of  10)</small></span>
                                    <div class="small font-trans text-muted mt-2"><strong>RECEIVED RATINGS</strong> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h6 class="header-title ms-3 mt-3">Material Details</h6>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-6 text-center">
                                <div class="mb-0"><span class="h5 fw-bold">0</span><small> Kg </small></div>
                                <div class="small font-trans text-muted mt-2"><strong>TOTTAL MATERIAL SOLD</strong> </div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="mb-0"><small>₹</small><span class="h5 fw-bold ps-1">0</span></div>
                                <div class="small font-trans text-muted mt-2"><strong>MONEY EARNED</strong> </div>
                            </div>
                        </div>
                        <table class="table table-condensed table-hover table-responsive vertical-mid-table animated fadeIn mb-0">
                            <thead>
                                <tr class="border-bottom">
                                    <th>Material</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-end">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>News Paper</td>
                                    <td class="text-center">2<small> Kg </small></td>
                                    <td class="text-end"><small>₹</small> 200</td>
                                </tr>
                                <tr>
                                    <td>News Paper</td>
                                    <td class="text-center">2<small> Kg </small></td>
                                    <td class="text-end"><small>₹</small> 200</td>
                                </tr>
                                <tr>
                                    <td>News Paper</td>
                                    <td class="text-center">2<small> Kg </small></td>
                                    <td class="text-end"><small>₹</small> 200</td>
                                </tr>
                                <tr>
                                    <td>News Paper</td>
                                    <td class="text-center">2<small> Kg </small></td>
                                    <td class="text-end"><small>₹</small> 200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <h6 class="header-title ms-3 mt-3">Purchase Request Details</h6>
                    <div class="card-body">
                        <div>
                            <div class=" col-3 my-auto ms-2">
                                <div class="small font-trans text-muted mt-3"><strong>PENDING REQUEST</strong> </div>
                            </div>
                            <table class="table table-condensed table-hover vertical-mid-table animated fadeIn mt-3">
                                <tbody class="sell-table-body">
                                    <tr class="completed">
                                        <td>123</td>
                                        <td>News Paper</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge bg-success">Completed</label>
                                        </td>
                                        <td class="w-25">
                                            <small class=""> Total Bill Amount :  </small>
                                            <b class="text-success"><span class="">₹ </span><span class=" fw-bold">20</span></b>
                                        </td>
                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="pending">
                                        <td>124</td>
                                        <td>Plastic</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge bg-primary">Pending</label>
                                        </td>
                                        <td class="w-25">
                                            <small>

                                            </small>
                                        </td>
                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="handled">
                                        <td>125</td>
                                        <td>Rubber</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge h-bg-green">Handled</label>
                                        </td>
                                        <td class="w-25">
                                            <small class=""> Cash Received :  </small>
                                            <b class="text-success"><span class="">₹ </span><span class=" fw-bold">20</span></b>
                                        </td>
                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="cancelled">
                                        <td>125</td>
                                        <td>Magazines</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge bg-danger">Cancelled</label>
                                        </td>
                                        <td class="w-25">
                                            <small>
                                                Cancelled by <b class="text-muted">Shankar Yadav </b><br />
                                                Reason : <b class="text-info">Cancelled by customer</b>
                                            </small>
                                        </td>
                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <div class=" col-3 my-auto ms-2">
                                <div class="small font-trans text-muted mt-4"><strong>PAST REQUEST</strong> </div>
                            </div>
                            <table class="table table-condensed table-hover vertical-mid-table animated fadeIn mt-3">
                                <tbody class="sell-table-body">
                                    <tr class="completed">
                                        <td>123</td>
                                        <td>News Paper</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge bg-success">Completed</label>
                                        </td>
                                        <td class="w-25">
                                            <small class=""> Total Bill Amount :  </small>
                                            <b class="text-success"><span class="">₹ </span><span class=" fw-bold">20</span></b>
                                        </td>

                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="pending">
                                        <td>124</td>
                                        <td>Plastic</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge bg-primary">Pending</label>
                                        </td>
                                        <td class="w-25">
                                            <small>

                                            </small>
                                        </td>

                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="handled">
                                        <td>125</td>
                                        <td>Rubber</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge h-bg-green">Handled</label>
                                        </td>
                                        <td class="w-25">
                                            <small class=""> Cash Received :  </small>
                                            <b class="text-success"><span class="">₹ </span><span class=" fw-bold">20</span></b>
                                        </td>

                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="cancelled">
                                        <td>125</td>
                                        <td>Magazines</td>
                                        <td class="px-0 w-25">

                                            <div class=" small">
                                                Home  mp nager, MP Nagar
                                            </div>
                                            <div class=" small">
                                                Bhopal, Madhya Pradesh - 462023
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <label class="badge bg-danger">Cancelled</label>
                                        </td>
                                        <td class="w-25">
                                            <small>
                                                Cancelled by <b class="text-muted">Shankar Yadav </b><br />
                                                Reason : <b class="text-info">Cancelled by customer</b>
                                            </small>
                                        </td>

                                        <td>
                                            <div class="btn-group-vertical">
                                                <a data-load-url="@Url.Page("../Details", new { area ="Request"})" data-bs-toggle="modal" href="#ActionModal" class="btn btn-default btn-xs reqdetailbtn">Details</a>

                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="actiondropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="actiondropdown" style="font-size:small;">

                                                        <li class=" dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/EditPending",new { area = "Request"})">Edit Request</a>
                                                        </li>


                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Reschedule", new { area = "Request"})">Reschedule Request</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Assign", new {area ="Request"})">Assign to Pickup Session</a>
                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a href="#" class="actionlink text-decoration-none d-block" data-bs-toggle="modal" data-bs-target="#ActionModal" data-url="@Url.Page("/Ajax/Modal/Cancel",new { area="Request"})">Cancel Request</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


@section Footer{
    <modal content-id="DeleteAddressModalContent" loader="true" id="DeleteAddressModal"></modal>
   
}
