@using ChartJs.Blazor.BarChart
@using TKW.AdminPortal.Components.SharedComponents
@using System.Linq
@namespace TKW.AdminPortal.Components.Dashboard

@inject HttpClient http

@if (model == null)
{
<div class="mb-3">
    <small class="fw-bold text-secondary small">Cancelled And Rescheduled Requests</small>
    <div class="card mt-2">
        <div class="card-body">
            <div class="shimmer line mb-3">

            </div>
            <div class="shimmer box-chart-sm"></div>
        </div>
    </div>
</div>
}
else
{
<div class="mb-3">
    <small class="fw-bold text-secondary small">Cancelled And Rescheduled Requests</small>
    <div class="card mt-2">
        <div class="card-body pt-0">
            <div class="float-end">

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-link text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @selectedType
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var t in (RequestType[])Enum.GetValues(typeof(RequestType)))
                        {
                            <li><a class="dropdown-item" @onclick="()=> updateType(t)">@t</a></li>
                        }
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-link text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @getLabelString(selectedLabel)
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var l in (Labels[])Enum.GetValues(typeof(Labels)))
                        {
                            <li><a class="dropdown-item" @onclick="()=>updateLabel(l)">@getLabelString(l)</a></li>
                        }
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-link text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @getFilterString(selectedFilterId)
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" @onclick="()=>updateFilterId(null)">All</a></li>
                        @foreach (var f in selectedLabel == Labels.Reason ? data.Select(m => m.SourceAppId).Distinct() : data.Select(m => m.ReasonId).Distinct())
                        {
                            <li><a class="dropdown-item" @onclick="()=>updateFilterId(f)">@getFilterString(f)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <Chart Config="_config" @ref="_chart"></Chart>
        </div>
    </div>
</div>
}
@code {
    public List<CancelledAndRescheduledRequestModel> model { get; set; }

    public List<CancelledAndRescheduledRequestModel> data { get; set; }


    RequestType selectedType;

    Labels selectedLabel;

    string getLabelString(Labels label) => label == Labels.SourceApp ? "Source app" : "Reason";

    string getFilterString(int? filterId)
    {
        if (filterId == null) return "All";

        if (selectedLabel == Labels.SourceApp)
            return data.FirstOrDefault(m => m.ReasonId == filterId)?.ReasonName ?? "";
        else
            return data.FirstOrDefault(m => m.SourceAppId == filterId)?.SourceAppName ?? "";

    }

    int? selectedFilterId;

    private BarConfig _config;
    private Chart _chart;

    void updateType(RequestType t)
    {
        selectedType = t;
        data = selectedType == RequestType.Cancelled ? model.Where(m => m.IsCancelled).ToList() : model.Where(m => !m.IsCancelled).ToList();
        UpdateData();
    }

    void updateLabel(Labels t)
    {
        selectedLabel = t;
        UpdateData();
    }

    void updateFilterId(int? filterId)
    {
        selectedFilterId = filterId;
        UpdateData();
    }

    protected async override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            await LoadChartData();

            selectedLabel = Labels.SourceApp;
            selectedType = RequestType.Cancelled;
            data = model.Where(m => m.IsCancelled).ToList();

            UpdateData();
        }


    }
    private async Task LoadChartData()
    {

        model = await http.GetFromJsonAsync<List<CancelledAndRescheduledRequestModel>>("api/GetCancelledAndRescheduledRequestDetails");

        _config = new BarConfig(horizontal: true)
        {
            Options = new BarOptions
            {
                Responsive = true,
                Legend = new Legend
                {
                    Display = false,
                },
                Title = new OptionsTitle
                {
                    Display = false,
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Hover = new Hover
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Scales = new BarScales
                {
                    XAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            Ticks = new LinearCartesianTicks
                            {
                                StepSize = 1,
                                Max = 5,
                                Min = 0,
                            }
                        }
                        //Ticks = new LinearCartesianTicks { }
                    }
                },
            }
        };

    }

    public void UpdateData()
    {
        _config.Data.Labels.Clear();
        _config.Data.Datasets.Clear();


        var dataset = new BarDataset<int>(true);

        if (selectedLabel == Labels.SourceApp)
        {
            foreach (var l in data.GroupBy(m => m.SourceAppName))
            {
                _config.Data.Labels.Add(l.Key);
                dataset.BackgroundColor = ColorUtil.ColorString(92, 198, 65, 0.5);
                dataset.Add(selectedFilterId == null ? l.Count() : l.Count(m => m.ReasonId == selectedFilterId));

            }
        }
        else
        {
            foreach (var l in data.GroupBy(m => m.ReasonName))
            {
                _config.Data.Labels.Add(l.Key);
                dataset.BackgroundColor = ColorUtil.ColorString(92, 198, 65, 0.5);
                dataset.Add(selectedFilterId == null ? l.Count() : l.Count(m => m.SourceAppId == selectedFilterId));
            }
        }
        _config.Data.Datasets.Add(dataset);
        StateHasChanged();
    }


    enum Labels
    {
        SourceApp,
        Reason
    }
    enum RequestType
    {
        Cancelled,
        Rescheduled
    }
}
