@namespace TKW.AdminPortal.Components.Dashboard
@inject HttpClient http
<div class="mb-3">
    <small class="fw-bold text-secondary">Purchase and Sell of Material</small>
    <div class="card rounded-0 border-0 shadow-sm p-0 mt-2">
        <div class="card-body pt-0">
            <div class="row border-bottom">
                <div class="col-6">
                    <a class="text-decoration-none">
                        <div class="p-3">
                            <h6 class="fw-bold text-secondary">Purchase</h6>
                            <div class="row">
                                @if (model != null)
                                {
                                    <div class="col-6">
                                        @{ double totalQuantity = 0;
                                            foreach (var i in model.PurchaseList)
                                            {

                                                totalQuantity = totalQuantity + i.MaterialQuantity;

                                            }
                                        }
                                        <div class="mb-0"><span class="h5 fw-bold"> @totalQuantity </span><small> Kg</small></div>
                                        <div class="text-muted small">Quantity</div>
                                    </div>
                                    <div class="col-6">
                                        @{ double totalAmount = 0;
                                            foreach (var i in model.PurchaseList)
                                            {

                                                totalAmount = totalQuantity + i.MaterialAmount;

                                            }
                                        }
                                        <div class="mb-0"><small>₹</small><span class="h5 fw-bold"> @totalAmount</span></div>
                                        <div class="text-muted small">Amount</div>
                                    </div>
                                } else {
                                        <div class="shimmer box-wide"></div>
                                  }

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a class="text-decoration-none">
                        <div class="p-3">
                            <h6 class="fw-bold text-secondary">Sell</h6>
                            <div class="row">
                                @if (model != null)
                                {
                                    <div class="col-6">
                                        @{ double totalSellQuantity = 0;
                                            foreach (var i in model.SellList)
                                            {

                                                totalSellQuantity = totalSellQuantity + i.MaterialQuantity;

                                            }
                                        }
                                        <div class="mb-0"><span class="h5 fw-bold"> @totalSellQuantity</span><small> Kg</small></div>
                                        <div class="text-muted small">Quantity</div>
                                    </div>
                                    <div class="col-6">
                                        @{ double totalSellAmount = 0;
                                            foreach (var i in model.SellList)
                                            {

                                                totalSellAmount = totalSellAmount + i.MaterialAmount;

                                            }
                                        }
                                        <div class="mb-0"><small>₹</small><span class="h5 fw-bold"> @totalSellAmount</span></div>
                                        <div class="text-muted small">Amount</div>
                                    </div>
                                } else { 
                                        <div class="shimmer box-wide"></div>
                                }

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @if (model != null)
                    {
                        <table class="table table-condensed table-hover table-responsive vertical-mid-table animated fadeIn">
                            <thead>
                                <tr class="border-bottom">
                                    <th>Material Name</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var j in model.PurchaseList)
                                {
                                    <tr>
                                        <td>@j.MaterialName</td>
                                        <td><span> @j.MaterialQuantity</span><small> Kg</small></td>
                                        <td><small>₹</small><span> @j.MaterialAmount</span></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="shimmer box-chart-sm"></div>
                    }
                </div>
                <div class="col-6">
                    @if (model != null)
                    {
                        <table class="table table-condensed table-hover table-responsive vertical-mid-table animated fadeIn">
                            <thead>
                                <tr class="border-bottom">
                                    <th>Material Name</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var j in model.SellList)
                                {
                                    <tr>
                                        <td>@j.MaterialName</td>
                                        <td><span> @j.MaterialQuantity</span><small> Kg</small></td>
                                        <td><small>₹</small><span> @j.MaterialAmount</span></td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="shimmer box-chart-sm"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    PurchaseAndSellMaterialList model;
    protected async override void OnAfterRender(bool firstRender)
    {
        model = await http.GetFromJsonAsync<PurchaseAndSellMaterialList>("api/GetPurchaseAndSellMaterialList");
        base.OnAfterRender(firstRender);
        StateHasChanged();

    }
}