@using AdminPortal.Shared.Models
@inject HttpClient http  

<div class="mb-3">

    <div class="card border-0 shadow-sm mt-2">
        <div class="card-body">
            <div class="text-center">
                @if (model != null)
                {
                    <h2 class="text-secondary fw-bold mb-0">@model.TodaysRequests</h2>
                    <div>Today's Request</div>
                }
                else
                {
                    <div class="shimmer box-wide"></div>
                }

            </div>
            @if (model != null)
            {
                <div class="d-flex">
                    <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                        <h4 class="text-warning mb-0 fw-bold">@model.Assigned</h4>
                        <small class="fw-bold text-secondary">Assigned</small>
                    </div>
                    <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                        <h4 class="mb-0 fw-bold">@model.Rescheduled</h4>
                        <small class="fw-bold text-secondary">Rescheduled</small>
                    </div>
                </div>
            }
            else
            {
                    <div class="shimmer box-wide">

                    </div>
            }

            @if (model != null)
            {
                <div class="d-flex">
                    <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                        <h4 class="text-success mb-0 fw-bold">@(model.Handled + model.Onspot)</h4>
                        <small class="fw-bold text-secondary text-nowrap">Completed</small>
                    </div>
                    <div class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm">
                        <h4 class="text-danger mb-0 fw-bold">@model.Cancelled</h4>
                        <small class="fw-bold text-secondary">Cancelled</small>
                    </div>
                </div>
            }
            else
            {
                    <div class="shimmer box-wide"></div>
            }

        </div>
    </div>
</div>



@code {
    private RequestCountsModel model;

    protected async override void OnAfterRender(bool firstRender)
    {
        model = await http.GetFromJsonAsync<RequestCountsModel>("api/GetRequestCountsOfFranchise");
        base.OnAfterRender(firstRender);
        StateHasChanged();
    }

}
