@using AdminPortal.Shared.Models
@inject HttpClient http

<div class="mb-3">
    <div class="card shadow-sm">
        <div class="card-body">
                @if (model != null)
                {
            <a href="/Request?Filter.DateType=Visiting&Filter.StartDate=@date&Filter.EndDate=@date&pageSize=50" class="text-center text-decoration-none w-100">
                 <h2 class="text-secondary fw-bold mb-0">@model.TodaysRequests</h2>
                <div>Today's Request</div>
          </a>
          }
                else
                { <div class="d-flex justify-content-center mb-3">
                    <div class="shimmer w-50" style="height:60px;"></div>
                </div>

                }

            @if (model != null)
            {
        <div class="d-flex">
            <a href="/Request?Filter.DateType=Visiting&Filter.Status=1&Filter.Status=2&Filter.Status=3&Filter.EndDate=@date&pageSize=50" class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm text-decoration-none">
                <h4 class="text-warning mb-0 fw-bold">@model.Pending</h4>
                <small class="fw-bold text-secondary">Pending</small>
            </a>
            <a href="/Request?Filter.DateType=Handled&Filter.StartDate=@date&Filter.EndDate=@date&pageSize=50" class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm text-decoration-none">
                <h4 class="text-success mb-0 fw-bold">@(model.Handled)</h4>
                <small class="fw-bold text-secondary text-nowrap">
                    Completed @if (model.Onspot > 0)
                    {<span class="text-muted fw-light">(@model.Onspot onspot)</span>}
                </small>
            </a>
            
        </div>
            }
            else
            {
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="shimmer w-100" style="height:60px;"></div>
                    </div>
                    <div class="col-6">
                        <div class="shimmer w-100" style="height:60px;"></div>
                    </div>
                </div>


            }

            @if (model != null)
            {
                <div class="d-flex">
                    <a href="/Request?Filter.DateType=Visiting&Filter.Status=2&Filter.StartDate=@date&Filter.EndDate=@date&pageSize=50" class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm text-decoration-none">
                        <h4 class="mb-0 fw-bold">@model.Rescheduled</h4>
                        <small class="fw-bold text-secondary">Rescheduled</small>
                    </a>
                    <a href="/Request?Filter.DateType=Cancelled&Filter.StartDate=@date&Filter.EndDate=@date&pageSize=50" class="card text-center border-0 px-4 py-2 m-2 w-50 shadow-sm text-decoration-none">
                        <h4 class="text-danger mb-0 fw-bold">@model.Cancelled</h4>
                        <small class="fw-bold text-secondary">Cancelled</small>
                    </a>
                </div>
            }
            else
            {
                <div class="row mb-2">
                    <div class="col-6">
                        <div class="shimmer w-100" style="height:60px;"></div>
                    </div>
                    <div class="col-6">
                        <div class="shimmer w-100" style="height:60px;"></div>
                    </div>
                </div>


            }

        </div>
    </div>
</div>
@code {
    private RequestCountsModel model;
    string date = DateTime.Today.ToString("dd-MM-yyyy");
    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            model = await http.GetFromJsonAsync<RequestCountsModel>("api/GetRequestCountsOfFranchise");
            StateHasChanged();
        }

    }

}
