@page
@model TKW.AdminPortal.Areas.Warehouse.Pages.Ajax.Modal.SellDetailsModel
@{
}
<modal-header title="Sell Details" close-button="true"></modal-header>
<modal-body>
    <div class="row">
        <div class="col-md-6">
            <div class="hpanel">
                <div class="panel-body p-2">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr class="border-bottom">
                                    <th>Material</th>
                                    <th class="text-end">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.Sell.Items)
                                {

                                    <tr>
                                        <td> @m.MaterialName </td>
                                        <td class="text-end">@m.ActualQuantity.Value.ToString("0.00") @m.MaterialUnitName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel">
                <div class="panel-body p-2">
                    <span class="float-end">
                        <small class="font-trans">Id:</small>
                        @Model.Sell.Id
                    </span>
                    <div class="pt-2">
                        <span class="font-trans">Buyer:</span>
                        <span> @Model.Sell.Buyer.OwnerName</span>
                    </div>
                    <div class="pt-2">
                        <span class="font-trans">Firm:</span>
                        <span> @Model.Sell.Buyer.FirmName</span>
                    </div>
                    <div class="pt-2">
                        <span class="font-trans">Updated by:</span>
                        <span> @Model.Sell.Updater.Name</span>
                    </div>
                    <div class="pt-2">
                        <span class="font-trans">Handlers:</span>
                        <span> @string.Join(", ", Model.Sell.Completion.Handlers.Select(m => m.Name))</span>
                    </div>
                    <div class="pt-2">
                        <span class="font-trans">Time:</span>
                        <span> @string.Format("{0:dd/MM/yyyy}", Model.Sell.Completion.CompletionTime)<small class="text-muted"> @string.Format("{0:hh:mm tt}", Model.Sell.Completion.CompletionTime)</small></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</modal-body>
