@page
@model TKW.AdminPortal.Areas.Request.Pages.RatingsModel
@using TKW.ApplicationCore.Contexts.PurchaseContext.DTOs;
@using Newtonsoft.Json
@{
    ViewBag.Title = "Ratings";
}
<pagetitle title="Ratings" description="List of ratings."></pagetitle>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <form id="ratingFilterForm" method="post">

                        <div class="mb-2">
                            <h5>
                                Filters
                            </h5>
                            <small>
                                Rating Filters by options
                            </small>
                        </div>

                        <div class="mb-2">
                            <label class="fw-bold col-form-label fw-bold col-form-label" asp-for="Filter.Search"></label>
                            <input class="form-control form-control-sm" placeholder="Search" asp-for="Filter.Search" />
                        </div>

                        <div class="mb-2">
                            <label class="fw-bold col-form-label">
                                Date
                            </label>
                            <div class="mb-2">
                                <div class="d-inline-block" style="width:45%;">
                                    <input type="text" asp-for="Filter.StartDate" class="form-control form-control-sm " value="@(String.Format("{0:dd/MM/yyyy}", Model?.Filter?.StartDate))" placeholder="Start date" data-dtpicker="true">
                                </div>
                                <div class="text-center text-muted" style="display:inline-block;width:5%;">
                                    <span class="bi-dash"></span>
                                </div>
                                <div class="d-inline-block" style="width:45%;">
                                    <input type="text" asp-for="Filter.EndDate" class="form-control form-control-sm " value="@(String.Format("{0:dd/MM/yyyy}", Model?.Filter?.EndDate))" placeholder="End date" data-dtpicker="true">
                                </div>
                            </div>
                            <div>
                                <select asp-for="Filter.DateType" asp-items="Html.GetEnumSelectList<RatingsModel.DateTypes>()" class="form-select form-select-sm"></select>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label class="fw-bold col-form-label">
                                Rating Stars
                            </label>
                            <div class="mb-2">
                                <div class="d-inline-block" style="width:45%;">
                                    <select class="form-select form-select-sm" asp-for="Filter.StartRatingStar">
                                        @for (int i = 1; i <= 5; i++)
                                        {

                                            if (Model?.Filter?.StartRatingStar != null && Model.Filter.StartRatingStar == i)
                                            {
                                                <option value="@i" selected>@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="text-center text-muted d-inline-block" style="width:5%;">
                                    <span class="bi-dash"></span>
                                </div>
                                <div class="d-inline-block" style="width:45%;">
                                    <select class="form-select form-select-sm" asp-for="Filter.EndRatingStar">
                                        @for (int i = 1; i <= 5; i++)
                                        {

                                            if (Model?.Filter?.EndRatingStar != null && Model.Filter.EndRatingStar == i)
                                            {
                                                <option value="@i" selected>@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div>
                                <select class="form-select form-select-sm" asp-for="Filter.RatingStarType" asp-items="Html.GetEnumSelectList<RatingsModel.RatingStarTypes>()">
                                </select>
                            </div>
                        </div>

                        <div class="mb-2">
                            <label class="col-form-label fw-bold">Sellers</label>
                            <select class="form-control form-control-sm w-100" asp-for="Filter.SellerIds" multiple data-placeholder="Select Seller"></select>
                        </div>

                        <div class="mb-2">
                            <label class="col-form-label fw-bold">Pickup Boys</label>
                            <select class="form-control form-control-sm w-100" asp-for="Filter.PickupBoyIds" multiple></select>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label fw-bold">Feedback Options</label>
                            <div id="feedbackoption">
                                @{
                                    var ischecked = false;
                                    var checkname = Html.NameFor(m => m.Filter.FeedbackOptionIds);
                                    for (int i = 0; i < Model.FeedbackOptions.Count; i++)
                                    {
                                        ischecked = (Model?.Filter?.FeedbackOptionIds != null && Model.Filter.FeedbackOptionIds.Contains((int)Model.FeedbackOptions[i].Id));
                                        <div class="checkbox checkbox-success d-inline-block p-1 pe-2">
                                            <input type="checkbox" name="@checkname" id="check_@i" value="@Model.FeedbackOptions[i].Id" @(ischecked ? "checked" : "") />
                                            <label for="check_@i">@Model.FeedbackOptions[i].Name</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-sm" type="submit">Apply</button>
                            <button class="btn btn-default btn-sm" type="reset" onclick="resetFunction()" value="Reset">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="requestRatingSummaryList">
                <div class="text-center">
                    <img alt="Loading.." src="/images/ripple.gif" />
                </div>
            </div>
            <div id="requestRatingList">
                <div class="text-center">
                    <img alt="Loading.." src="/images/ripple.gif" />
                </div>
            </div>
        </div>
    </div>
</div>
<form id="listform_ajax" method="post">
</form>
@section Styles{
    <link href="~/css/bootstrap-checkbox.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/datetimepicker.min.css" asp-append-version="true" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/datetimepicker.min.js" asp-append-version="true" type="text/javascript"></script>
    <script>
        $(function () {

            var model =@Html.Raw(JsonConvert.SerializeObject(new { Filter = Model.Filter, pageNo = Model.pageNo, pageSize = Model.pageSize }));
            $.ajax({
                url: '@(Url.Page("Ajax/RequestRatingList"))',
                data: model,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $("#listform_ajax input").val());
                },
                method: 'POST',
                success: function (data) { $('#requestRatingList').html(data); }
            });

            $.ajax({
                url: '@(Url.Page("Ajax/RequestRatingSummaryList"))',
                data: model,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $("#listform_ajax input").val());
                },
                method: 'POST',
                success: function (data) { $('#requestRatingSummaryList').html(data); }
            });



            $('#ratingFilterForm').submit(function () {
                $.ajax({
                    async: true,
                    method: 'POST',
                    url: '@(Url.Page("Ajax/RequestRatingList"))',
                    data: $(this).serialize(),
                    success: function (data) { $('#requestRatingList').html(data); }
                });

                $.ajax({
                    async: true,
                    method: 'POST',
                    url: '@(Url.Page("Ajax/RequestRatingSummaryList"))',
                    data: $(this).serialize(),
                    success: function (data) { $('#requestRatingSummaryList').html(data); }
                });

                return false;
            });

            var options = {
                useStrict: true,
                ignoreReadonly: true,
                format: "DD-MM-YYYY",
                showClear: true
            };
            $("[data-dtpicker]").attr({
                style: "background-color:#fff",
                readonly: 'readonly'
            }).datetimepicker(options);

            var startDate = $("[id='@Html.IdFor(m=>m.Filter.StartDate)']");
            var endDate = $("[id='@Html.IdFor(m=>m.Filter.EndDate)']");

            startDate.on("dp.change", function (e) {
                endDate.data("DateTimePicker").minDate(e.date);
            });
            endDate.on("dp.change", function (e) {
                startDate.data("DateTimePicker").maxDate(e.date);
            });


            $("#@Html.IdFor(m => m.Filter.SellerIds)").select2AutoParent(
                select2SearchResponseAjaxConfiguration("@Url.Action("Users", "Account")", format, function (users) { return user.name || user.id + ""; }, { id: 0, text: "Select Seller" })
            );

            $("#@Html.IdFor(m => m.Filter.PickupBoyIds)").select2AutoParent(
                select2SearchResponseAjaxConfiguration("@Url.Action("SearchActivePickupEmployees", "Employee")", format, function (users) { return users.name || users.id + ""; }, { id: 0, text: "Select Pickup Boy" })
            );

            window.onload = function () {

                var search = sessionStorage.getItem('search');
                if (search != null) $('#@Html.IdFor(m => m.Filter.Search)').val(search);

                var StartDate = sessionStorage.getItem('StartDate');
                if (StartDate != null) $('#@Html.IdFor(m => m.Filter.StartDate)').val(StartDate);

                var EndDate = sessionStorage.getItem('EndDate');
                if (EndDate != null) $('#@Html.IdFor(m => m.Filter.EndDate)').val(EndDate);

                var DateType = sessionStorage.getItem('DateType');
                if (DateType != null) {
                     $("#@Html.IdFor(m => m.Filter.DateType)").children('option').each(function () {
                         if ($(this).val() == DateType) {
                            $("#@Html.IdFor(m => m.Filter.DateType)").children('option').each(function () {
                                $(this).removeAttr('selected');
                            });
                            $(this).attr('selected', 'selected');
                            return false;
                        }
                    });
                }


                var StartRatingStar = sessionStorage.getItem('StartRatingStar');
                if (StartRatingStar != null) {
                    $("#@Html.IdFor(m => m.Filter.StartRatingStar)").children('option').each(function () {
                        if ($(this).val() == StartRatingStar) {
                            $("#@Html.IdFor(m => m.Filter.StartRatingStar)").children('option').each(function () {
                                $(this).removeAttr('selected');
                            });
                            $(this).attr('selected', 'selected');
                            return false;
                        }
                    });
                }

                var EndRatingStar = sessionStorage.getItem('EndRatingStar');
                if (EndRatingStar != null) {
                    $("#@Html.IdFor(m => m.Filter.EndRatingStar)").children('option').each(function () {
                        if ($(this).val() == EndRatingStar) {
                            $("#@Html.IdFor(m => m.Filter.EndRatingStar)").children('option').each(function () {
                                $(this).removeAttr('selected');
                            });
                            $(this).attr('selected', 'selected');
                            return false;
                        }
                    });
                }

                var RatingStarType = sessionStorage.getItem('RatingStarType');
                if (RatingStarType != null) {
                    $("#@Html.IdFor(m => m.Filter.RatingStarType)").children('option').each(function () {
                        if ($(this).val() == RatingStarType) {
                            $("#@Html.IdFor(m => m.Filter.RatingStarType)").children('option').each(function () {
                                $(this).removeAttr('selected');
                            });
                            $(this).attr('selected', 'selected');
                            return false;
                        }
                    });
                }

                var FeedbackOptionIds = sessionStorage.getItem('FeedbackOptionIds');
                if (FeedbackOptionIds != null) {
                    $('#feebackoption').find('input[type="checkbox"]').each(function () {
                        if (FeedbackOptionIds.Contains($(this).val())) {

                        }
                    });
                }

            }

            window.onbeforeunload = function () {
                sessionStorage.setItem("search", $('#@Html.IdFor(m => m.Filter.Search)').val());
                sessionStorage.setItem("StartDate", $('#@Html.IdFor(m => m.Filter.StartDate)').val());
                sessionStorage.setItem("EndDate", $('#@Html.IdFor(m => m.Filter.EndDate)').val());
                sessionStorage.setItem("DateType", $('#@Html.IdFor(m => m.Filter.DateType) :selected').val());
                sessionStorage.setItem("StartRatingStar", $('#@Html.IdFor(m => m.Filter.StartRatingStar) :selected').val());
                sessionStorage.setItem("EndRatingStar", $('#@Html.IdFor(m => m.Filter.EndRatingStar) :selected').val());
                sessionStorage.setItem("RatingStarType", $('#@Html.IdFor(m => m.Filter.RatingStarType) :selected').val());
                @*sessionStorage.setItem("SellerIds", $('#@Html.IdFor(m => m.Filter.SellerIds)').map(function (i, el) { return $(el).val(); }).get());
                sessionStorage.setItem("PickupBoyIds", $('#@Html.IdFor(m => m.Filter.PickupBoyIds)').map(function (i, el) { return $(el).val(); }).get());*@
            }


        });





        function format(users) {
            if (users.loading) {
                return users.text;
            }
            var markup = "<div>" + users.name + "</div>";
            return markup;
        }


        function resetFunction() {
            $("#myForm").trigger("reset");
            $("#myForm select").trigger("change");
            $('#myForm .select2-container').select2('val', '');
            $("#@Html.IdFor(m => m.Filter.SellerIds)").val('').trigger('change');
            $('#@Html.IdFor(m => m.Filter.PickupBoyIds)').val('').trigger('change');
        }

    </script>
}
@section Footer{
    <modal content-id="DetailsModalContent" dialog-class="modal-lg" loader="true" id="DetailsModal"></modal>
}

 