@inject TKW.AdminPortal.Utils.SessionData SessionData
@inject TKW.AdminPortal.Utils.UrlGenerator urlGenerator
@using TKW.AdminPortal.Extensions
@{
    var user = await SessionData.GetUser();
}
<div id="navigation">
    <div class="profile-picture">
        <a href="#">
            <img src="@urlGenerator.ProfilePic(user?.PictureName, TKW.AdminPortal.Constants.UserPicSize.x80)" class="rounded-circle m-b" alt="logo" height="76" width="76">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">@(user?.Name)</span>
        </div>
    </div>
    <ul class="nav metismenu flex-sm-column" id="side-menu">
        <li class="@Html.IsSelected(page: "/Dashboard")">
            <a href="@Url.Page("/Dashboard")" class="text-decoration-none d-block"><span class="nav-label">Dashboard</span></a>
        </li>
        <li class="@Html.IsSelected(area:"Request")">
            <a href="#" class="text-decoration-none d-block"><span class="nav-label">Requests</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(page: "/Index",area:"Request")"><a href="@Url.Page("/Index",new { area="Request"})" class="text-decoration-none d-block">View requests</a></li>
                <li class="@Html.IsSelected(page: "/Add/Index",area:"Request")"><a href="@Url.Page("/Add/Index",new { area="Request"})" class="text-decoration-none d-block">Add request</a></li>
                <li class="@Html.IsSelected(page: "/Ratings",area:"Request")"><a href="@Url.Page("/Ratings",new { area="Request"})" class="text-decoration-none d-block">View ratings</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(area:"PickupSession")">
            <a href="@Url.Page("/Index",new { area="PickupSession" })" class="text-decoration-none d-block"><span class="nav-label">Pickup Sessions</span></a>
        </li>
        <li class="@Html.IsSelected(area: "Warehouse")">
            <a href="@Url.Page("/Index", new { area = "Warehouse" })" class="text-decoration-none d-block"><span class="nav-label">Warehouses</span></a>
        </li>
        <li class="@Html.IsSelected(area:"Sell")">
            <a href="@Url.Page("/Index",new { area="Sell" })" class="text-decoration-none d-block"><span class="nav-label">Sells</span></a>
        </li>
        <li class="@Html.IsSelected(area: "Material")">
            <a href="#" class="text-decoration-none d-block"><span class="nav-label">Materials</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(page: "/Index", area: "Material")"><a href="@Url.Page("/Index", new { area = "Material" })" class="text-decoration-none d-block">View materials</a></li>
                <li class="@Html.IsSelected(page: "/RateList", area: "Material")"><a href="@Url.Page("/RateList", new { area = "Material" })" class="text-decoration-none d-block">Rate list</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(area: "Expense")">
            <a href="@Url.Page("/Index", new { area = "Expense" })" class="text-decoration-none d-block"><span class="nav-label">Expenses</span></a>
        </li>

        <li class="@Html.IsSelected(area: "Employee")">
            <a href="@Url.Page("/Index", new { area = "Employee" })" class="text-decoration-none d-block"><span class="nav-label">Employees</span></a>
        </li>

        <li class="@Html.IsSelected(area: "Franchise")">
            <a href="@Url.Page("/Index", new { area = "Franchise" })" class="text-decoration-none d-block"><span class="nav-label">Franchises</span></a>
        </li>
        <li class="@Html.IsSelected(area: "Area")">
            <a href="@Url.Page("/Index", new { area = "Area" })" class="text-decoration-none d-block"><span class="nav-label">Area</span></a>
        </li>

        <li class="@Html.IsSelected(area:"Buyer")">
            <a href="@Url.Page("/Index",new { area="Buyer" })" class="text-decoration-none d-block"><span class="nav-label">Buyers</span></a>
        </li>
        <li class="@Html.IsSelected(area: "Incentive")">
            <a href="@Url.Page("/Index", new { area = "Incentive" })" class="text-decoration-none d-block"><span class="nav-label">Incentives</span></a>
        </li>
        <li class="@Html.IsSelected(area: "Report")">
            <a href="@Url.Page("/Index", new { area = "Report" })" class="text-decoration-none d-block"><span class="nav-label">Data Report</span></a>
        </li>
        <li class="@Html.IsSelected(area: "Report")">
            <a href="@Url.Page("/Index", new { area = "Payment" })" class="text-decoration-none d-block"><span class="nav-label">Payments</span></a>
        </li>
    </ul>
</div>
