@page
@model TKW.AdminPortal.Areas.Warehouse.Pages.Ajax.Modal.AddSegregation.AddSegregationModel
@inject TKW.AdminPortal.Utils.UrlGenerator urlGenerator
@{
    DateTime? defaultDate = Model?.HandleTime;
    if (defaultDate == null || defaultDate == DateTime.MinValue)
    {
        defaultDate = IndianDateTime.Now;
    }
}

<modal-header title="Add Segregation" close-button="true"></modal-header>
@if (Model?.IsDone == true)
{
    <modal-body>
        <div class="text-center">
            <i class="fa fa-4x fa-check-circle text-success"></i><br />
            <div class="h5 mt-3">Segregation has been Added</div>
            <a href="@Url.Page("../../../Details", new { Model?.Id })" class="btn btn-primary btn-sm btn-outline">Refresh page</a>
        </div>
    </modal-body>
    <script>
        $("#ModalContent").trigger("action.done");
    </script>
}
else
{
    @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <form method="post"
          data-ajax="true"
          data-ajax-url="@Url.Page("AddSegregation")"
          data-ajax-begin="$('#addFieldSet').attr('disabled','');"
          data-ajax-complete="$('#addFieldSet').removeAttr('disabled');"
          data-ajax-method="post"
          data-ajax-update="#ActionModalContent">
        <fieldset id="addFieldSet">
            <modal-body>
                <div class="mb-3">
                    <label class="col-form-label fw-bold" asp-for="PurchaseMaterialId">Unsegregated Material</label>
                    <input asp-for="UnsegregatedMaterial.Name" class="form-control" type="text" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="SellMaterials" class="col-form-label fw-bold"></label>
                    <div class="panel panel-default">
                        <div class="panel-body p-0">
                            @Html.EditorFor(m => m.SellMaterials, "~/Pages/Shared/EditorTemplates/MaterialList.cshtml", null, new { IsSellMaterial = true, IncludeRate = false, UnsegregatedMaterialId = Model.PurchaseMaterialId })
                        </div>
                    </div>
                    <span asp-validation-for="SellMaterials" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="WasteMaterial" class="col-form-label fw-bold"></label>
                    <input asp-for="WasteMaterial" class="form-control" placeholder="Quantity" type="number" />
                    <span asp-validation-for="WasteMaterial" class="text-danger small"></span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label asp-for="HandlerIds" class="col-form-label fw-bold"></label>
                            <select asp-for="HandlerIds" multiple class="form-control">
                                @if (Model?.Handlers != null)
                                {
                                    foreach (var handler in Model.Handlers)
                                    {
                                        <option selected value="@handler.Id">@handler.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="HandlerIds" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label asp-for="HandleTime" class="col-form-label fw-bold"></label>
                            <input asp-for="HandleTime" placeholder="Handled time" class="form-control" type="text" readonly style="background-color:#fff;" />
                            <span asp-validation-for="HandleTime" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Comment" class="col-form-label fw-bold"></label>
                    <input asp-for="Comment" class="form-control" placeholder="Enter Comment" />
                    <span asp-validation-for="Comment" class="text-danger small"></span>
                </div>
            </modal-body>
            <modal-footer>
                <button class="btn btn-success" type="submit">Add Segregation</button>
            </modal-footer>
        </fieldset>
        <input asp-for="Id" type="hidden" />
        <input asp-for="PurchaseMaterialId" type="hidden" />
    </form>
    <lib name="DatetimePicker" />
    <script>
    $(function () {
         $("#@Html.IdFor(m=>m.HandlerIds)").select2AutoParent(
            select2SearchResponseAjaxConfiguration(
                "@Url.Action("SearchActivePickupEmployees","Employee")",
                function(user){
                    if (user.loading) {
                        return user.text;
                    }var markup = "<div class='media'>"
                        + "<div class='media-left'><img src='"+(user.pictureName!=null && user.pictureName.length>0 ?  "@(urlGenerator.ProfilePicUrlPrefix)x80/" + user.pictureName:"/images/default/profilex80.png") + "' alt='User picture' height='50' class='img-circle'></div>"
                        + "<div class='media-body'>"
                        + "<div class='media-heading'>" + user.name + "</div>"
                        + "<p class='small'>" + user.mobileNo + "</p>"
                        + "</div>"
                        + "</div>";
                    return markup;
                },
                function (obj) { return obj.text || obj.name; },
            {id:0,text:"Select Handlers"}
             ));

         $("#@Html.IdFor(m=>m.HandleTime)").datetimepicker({
            useStrict: true,
            ignoreReadonly: true,
            format: "DD-MM-YYYY hh:mm A",
            maxDate: "@string.Format("{0:MM/dd/yyyy}",IndianDateTime.Now)",
            @if (defaultDate != null) {
                    @: defaultDate: "@string.Format("{0:MM/dd/yyyy}", defaultDate)",
                    }
            });
    });
    </script>
}

