@page
@model TKW.AdminPortal.Areas.Material.Pages.Ajax.Modal.AddPurchaseMaterialModel
@{
    Layout = null;
}
<modal-header title="Add Purchase Material" close-button="true"></modal-header>

@if (Model.IsDone)
{
    <modal-body>
        <div class="text-center">
            <i class="fa fa-4x fa-check-circle text-success"></i><br />
            <div class="h5 mt-3">Material has been added.</div>
        </div>
    </modal-body>
}
else
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <form method="post"
          data-ajax="true"
          data-ajax-url="@Url.Page("AddPurchaseMaterial")"
          data-ajax-begin="$('#AddPurchaseMaterialFieldSet').attr('disabled','');"
          data-ajax-complete="$('#AddPurchaseMaterialFieldSet').removeAttr('disabled');"
          data-ajax-method="post"
          data-ajax-update="#ActionModalContent">
        <fieldset id="AddPurchaseMaterialFieldSet">
            <modal-body>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="col-form-label fw-bold" asp-for="Name"></label><br />
                            <input class="form-control" placeholder="Material Name" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="UnsegregatedMaterialId" class="col-form-label fw-bold"></label>
                            <select asp-for="UnsegregatedMaterialId" asp-items="Model.UnsegregatedMaterial" class="form-control">
                            </select>
                            <span asp-validation-for="UnsegregatedMaterialId" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TypeId" class="col-form-label fw-bold"></label>
                            <select asp-for="TypeId" asp-items="Model.Types" class="form-control">
                            </select>
                            <span asp-validation-for="TypeId" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="GroupId" class="  col-form-label fw-bold"></label>
                            <select asp-for="GroupId" asp-items="Model.Groups" class="form-control">
                            </select>
                            <span asp-validation-for="GroupId" class="text-danger small"></span>
                        </div>

                        
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="col-form-label fw-bold text-left" asp-for="GSTPercent"></label><br />
                            <input class="form-control" placeholder="GST Percentage" asp-for="GSTPercent" />
                            <span asp-validation-for="GSTPercent" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label fw-bold text-left" asp-for="HSNCode">HSN Code</label><br />
                            <input class="form-control" placeholder="HSN Code" asp-for="HSNCode" />
                            <span asp-validation-for="HSNCode" class="text-danger small"></span>
                        </div>
                        <div class="mb-3 m-b-sm">
                            <label class="col-form-label fw-bold">Unit </label>
                            <div class="ps-3">
                                @foreach (var unit in Model.Units)
                                {
                                    <div class="form-check p-2 form-check-inline">
                                        @if (Model.UnitId == unit.Id)
                                        {
                                            <input class="form-check-input" id="Unit_@unit.Id" asp-for="UnitId" checked value="@unit.Id" type="radio" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" id="Unit_@unit.Id" asp-for="UnitId" value="@unit.Id" type="radio" />
                                        }
                                        <label for="Unit_@unit.Id" class="form-check-label">@unit.Name</label>
                                    </div>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </modal-body>
            <modal-footer>
                <button class="btn btn-success" type="submit">Add Material</button>
            </modal-footer>
        </fieldset>
    </form>
    <script>
        $(function () {
            $("#@Html.IdFor(m=>m.UnsegregatedMaterialId)").select2AutoParent();
            $("#@Html.IdFor(m=>m.TypeId)").select2AutoParent();
             $("#@Html.IdFor(m=>m.GroupId)").select2AutoParent();
        });
    </script>

}