@page
@model TKW.AdminPortal.Areas.Request.Pages.Add.BulkModel
@{
    ViewBag.Title = "Add Handled Request";
    bool HasLastHandledRequest = Model.LastHandledRequest != null;
    bool HasPendingRequests = Model.PendingRequests != null && Model.PendingRequests.Count > 0;
}
<pagetitle title="Add Handled Request" description="Add request which is already handled.">
</pagetitle>
<div class="content">
    <div class="row">
        <div class="col-md-6 @((Model.PendingRequests!=null && Model.PendingRequests.Count>0) || Model.LastHandledRequest != null ? "" : "col-md-offset-3")">
            <div class="hpanel">

                <div class="panel-body">
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="alert alert-danger m-t-n-md m-l-n-md m-r-n-md">@Model.ErrorMessage</div>
                        <br />
                    }
                <form method="post">
                    <partial name="_NewRequest" for="NewRequestModel" />
                    <partial name="_Handle" for="HandleModel" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label fw-bold" asp-for="StoreModel.WarehouseId">Warehouse</label>
                                <select class="form-control" asp-for="StoreModel.WarehouseId" asp-items="Model.StoreModel.Warehouses"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label fw-bold" asp-for="PaymentModel.PaymentMethodId">Payment method</label>
                                <select class="form-control" asp-for="PaymentModel.PaymentMethodId" asp-items="Model.PaymentModel.PaymentMethods"></select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 ">
                        <div id="commentfield" style="display:none">
                            <label asp-for="NewRequestModel.Comment" class="col-form-label fw-bold"></label>
                            <input asp-for="NewRequestModel.Comment" class="form-control" placeholder="Comment" />
                            <span asp-validation-for="NewRequestModel.Comment" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="text-end">
                        <div class="float-start" id="addcommentbtn">
                            <button class="btn btn-sm btn-link text-decoration-none" type="button" onclick="$('#commentfield').show(); $('#addcommentbtn').hide();"><i class="fa fa-plus"></i> Add comment</button>
                        </div>
                        <button class="btn btn-success" type="submit">Add Request</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
            @if (HasPendingRequests || HasLastHandledRequest)
            {
                <div class="col-md-6">
                    @if (HasLastHandledRequest)
                    {
                        <div class="hpanel">
                            <div class="panel-heading">
                                Last Handled Request of the User
                            </div>
                            <div class="panel-body p-xxs">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="p-1"><b>Request Id:</b> @Model.LastHandledRequest.Id</div>
                                        <div class="p-1">
                                            <b>Handle time:</b> @String.Format("{0:dd MMM, yyyy hh:mm tt}", Model.LastHandledRequest.HandleEndTime)
                                        </div>
                                        <div class="p-1">
                                            <b>Address:</b>
                                            <div class="small">
                                                <address class="m-b-none" name="@Model.LastHandledRequest.Address.Name" mobile-no="@Model.LastHandledRequest.Address.MobileNo" addressline="@Model.LastHandledRequest.Address.AddressLine" locality="@Model.LastHandledRequest.Address.LocalityName" city="@Model.LastHandledRequest.Address.CityName" state="@Model.LastHandledRequest.Address.StateName" pincode="@Model.LastHandledRequest.Address.Pincode"></address>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="p-1">
                                            <b>Status:</b> @Model.LastHandledRequest.Status.Status
                                        </div><div class="p-1">
                                            <b>Total Amount:</b> ₹@Model.LastHandledRequest.TotalAmount.ToString("0.0")
                                        </div><div class="p-t-md p-r-xxs">
                                            <a href="#" data-loaded="false" data-load-url="@Url.Page("../Ajax/Modal/Details", new { Model.LastHandledRequest.Id })" data-target="#DetailsModal" class="btn btn-default btn-xs" data-toggle="modal">Details</a>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="media">
                                    <div class="media-body">
                                        <div class="media-heading">
                                        </div>
                                                     <div class="media-bottom p-t-xxs">
                                                     </div>
                                    </div>
                                    <div class="media-right text-right">
                                        
                                        
                                     <a href="#" data-loaded="false" data-load-url="@Url.Page("../Ajax/Modal/Details", new { Model.LastHandledRequest.Id })" data-target="#DetailsModal" class="btn btn-default btn-xs" data-toggle="modal">Details</a>
                                       
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    }
                    @if (HasPendingRequests)
                    {
                <div class="hpanel">
                    <div class="panel-heading">
                        Pending Requests of the User
                    </div>
                    <div class="panel-body p-0">
                        <div class="list-group">
                            @foreach (var r in Model.PendingRequests)
                            {
                                <div class="list-group-item p-1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="p-1"><b>Request Id:</b> @r.Id</div>
                                            @if (r.Schedule != null)
                                            {
                                                <div class="p-1">
                                                    <b>Schedule:</b>     @String.Format("{0:dd MMM, yyyy}", r.Schedule.Date) @r.Schedule.TimeSlot.Text
                                                </div>
                                            }
                                            <div class="p-1">
                                                <b>Address:</b>
                                                <div class="small">
                                                    <address class="m-b-none" name="@r.Address.Name" mobile-no="@r.Address.MobileNo" addressline="@r.Address.AddressLine" locality="@r.Address.LocalityName" city="@r.Address.CityName" state="@r.Address.StateName" pincode="@r.Address.Pincode"></address>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <div class="p-1">
                                                <b>Status:</b> @r.Status.Status
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @*<div class="media">
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <b>Id:</b> @r.Id
                                            </div>
                                            @if (r.Schedule != null)
                                            {
                                                <div>
                                                    @String.Format("{0:dd MMM, yyyy}", r.Schedule.Date) @r.Schedule.TimeSlot.SlotText
                                                </div>
                                            }
                                            <div class="media-bottom small p-t-xxs">
                                                <address class="m-b-none" name="@r.Address.Name" mobile-no="@r.Address.MobileNo" addressline="@r.Address.AddressLine" landmark="@r.Address.Landmark" locality="@r.Address.Locality.Name" city="@r.Address.Locality.City.Name" state="@r.Address.Locality.City.State.Name" pincode="@r.Address.Locality.Pincode"></address>
                                            </div>
                                        </div>
                                        <div class="media-right text-right">
                                            @r.Status.Status
                                        </div>
                                    </div>*@
                                    <br />
                                    <div class="text-center">
                                        <a href="#" data-loaded="false" data-load-url="@Url.Page("../Ajax/Modal/Details", new { r.Id })" data-bs-target="#DetailsModal" class="btn btn-default btn-xs" data-bs-toggle="modal">Details</a>
                                        <a href="#" data-load-url="@Url.Page("../Ajax/Modal/Reschedule", new { Ids = new List<long> { r.Id } })" data-bs-target="#ActionModal" data-bs-toggle="modal" class="btn btn-default btn-xs">Reschedule</a>
                                        <a href="#" data-load-url="@Url.Page("../Ajax/Modal/Assign", new { Ids = new List<long> { r.Id } })" data-bs-target="#ActionModal" data-bs-toggle="modal" class="btn btn-default btn-xs">Assign</a>
                                        <a href="#" data-load-url="@Url.Page("../Ajax/Modal/Handle", new { r.Id })" data-bs-target="#ActionModal" data-bs-toggle="modal" class="btn btn-default btn-xs">Handle</a>
                                        <a href="#" data-load-url="@Url.Page("../Ajax/Modal/Cancel", new { Ids = new List<long> { r.Id } })" data-bs-target="#ActionModal" data-bs-toggle="modal" class="btn btn-default btn-xs">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                    }
            </div>
        }
        </div>
</div>
@section Scripts{ 
    <script>
    $(function () {
        $("#@Html.IdFor(m=>m.PaymentModel.PaymentMethodId)").select2();
        $("#@Html.IdFor(m=>m.StoreModel.WarehouseId)").select2();
    });
    </script>
}
@section Footer{
    <modal id="AddressModal" loader="true"></modal>
    <modal id="DetailsModal" dialog-class="modal-lg" loader="true"></modal>
    <modal id="ActionModal" content-id="ActionModalContent" loader="true"></modal>
}

