@page "{Id:int}"
@model TKW.AdminPortal.Areas.UserProfile.Pages.Ajax.Modal.EditProfileModel
@using TKW.AdminPortal.Constants
@inject TKW.AdminPortal.Utils.UrlGenerator urlGenerator
@{
}

<modal-header title="Edit Profile" close-button="true"></modal-header>

@if (Model.IsDone)
{
    <modal-body>
        <div class="text-center">
            <i class="fa fa-4x fa-check-circle text-success"></i><br />
            <div class="h5 mt-3">Profile updated.</div>
        </div>
    </modal-body>
}

else
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    <form method="post"
          data-ajax="true"
          data-ajax-url="@Url.Page("EditProfile", new { Model.Id })"
          data-ajax-begin="$('#editProfileFieldSet').attr('disabled','');"
          data-ajax-complete="$('#editProfileFieldSet').removeAttr('disabled');"
          data-ajax-method="post"
          data-ajax-update="#EditProfileModalContent">
        <fieldset id="editProfileFieldSet">
            <modal-body>
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="text-center p-b-xs">
                            <img src="@Model.Picture" height="200" class="img-responsive img-thumbnail" alt="No Image" />
                        </div>
                    </div>

                    <div class="col-sm-12">

                        <table class="table">
                            <tr>
                                <td><b>Name</b></td>
                                <td class="text-end">@Model.Name</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap"><b>Mobile number</b></td>
                                <td class="text-end">@Model.MobileNo</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap"><b>Email</b></td>
                                <td class="text-end">@Model.Email</td>
                            </tr>
                            <tr>
                                <td><b>D.O.B.</b></td>
                                <td class="text-end">8/12/1990</td>
                            </tr>
                            <tr>
                                <td><b>Gender</b></td>
                                <td class="text-end">Male</td>
                            </tr>
                            <tr>
                                <td><b>Joining Date</b></td>
                                <td class="text-end">27 oct, 2021</td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="close">Cancel</button>
                        <button class="btn btn-sm btn-default" data-modal-href="@Url.Page("ProfilePicture",new {Model.Id})" type="button">@(string.IsNullOrEmpty(Model.Picture) ? "Upload" : "Change") Picture</button>
                        <button class="btn btn-sm btn-default" data-modal-href="@Url.Page("Edit",new {Id=Model.Id })" type="button">Edit Details</button>
                    </div>
                </div>

            </modal-body>
        </fieldset>
    </form>
}
