@page "{BuyerId:int}"
@model TKW.AdminPortal.Areas.Buyer.Pages.Ajax.Modal.DetailModel
@{ 
    var status = Model.Buyer.IsActive ? "Active" : "InActive";
}
<modal-header title="Buyer Details" close-button="true"></modal-header>
<modal-body>
    <table class="mx-auto" style="width:75%;">
        <tr>
            <td class="fw-bold">Name</td>
            <td class="text-end">@Model.Buyer.OwnerName</td>
        </tr>
        <tr>
            <td class="fw-bold">ID</td>
            <td class="text-end">@Model.BuyerId</td>
        </tr>
        <tr>
            <td class="fw-bold">Firm Name</td>
            <td class="text-end"> @Model.Buyer.FirmName</td>
        </tr>
        <tr>
            <td class="fw-bold">Contact Number</td>
            <td class="text-end">@Model.Buyer.OwnerMobileNo</td>
        </tr>
        <tr>
            <td class="fw-bold">Status</td>
            <td class="text-end"> @Model.Buyer.IsActive </td>
        </tr>
        <tr>
            <td class="fw-bold">Address</td>
            <td class="text-end">@Model.Buyer.AddressLine</td>
        </tr>
    </table>
</modal-body>
<modal-footer>
    <button class="btn btn-default" data-modal-href="@Url.Page("Edit",new { BuyerId = Model.BuyerId })" type="button">Edit Details</button>
</modal-footer>
