@page "{Id:int}"
@model TKW.AdminPortal.Areas.Franchise.Pages.Ajax.PincodeDaysModel
@{
    var name = Html.NameFor(m => m.PincodeList);
    var id = Html.IdFor(m => m.PincodeList);
    var count = 0;
}


<div class="panel-body p-0" id="panel">
    <span id="return_message" role="dialog" aria-hidden="true"></span>
    <form method="post"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-url="@Url.Page("/Ajax/PincodeDays")"
          data-ajax-begin="$('#franchisePincodeFieldset').attr('disabled','');"
          data-ajax-complete="$('#franchisePincodeFieldset').removeAttr('disabled');"
          data-ajax-update="#return_message">
        <fieldset id="franchisePincodeFieldset">

            <div class="row p-2">
                <div class="col-md-9 ">
                    <div class="h3 ps-1">
                        @Model.FranchiseDetail.Name
                    </div>
                </div>
                <div class="col-md-3 py-2">
                    <div class="input-group">
                        <input type="text" placeholder="Search Pincodes and Localities" class="form-control" id="searchPincodeAndLocalities" />
                        <div class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <table class="table-responsive table-hover table vertical-mid-table mb-0">
                    <thead class="border-bottom border-top pb-1">
                        <tr>
                            <th class="text-center align-middle h6" style="width:12%;">Pincode</th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Monday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Mon" class="check-all" id="check_all_Mon" @(Model.PincodeList.All(m => m.Mon) ? "checked" : "") />
                                    <label for="check_all_Mon"></label>
                                </div>
                            </th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Tuesday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Tue" class="check-all" id="check_all_Tue" @(Model.PincodeList.All(m => m.Tue) ? "checked" : "") />
                                    <label for="check_all_Tue"></label>
                                </div>
                            </th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Wednesday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Wed" class="check-all" id="check_all_Wed" @(Model.PincodeList.All(m => m.Wed) ? "checked" : "") />
                                    <label for="check_all_Wed"></label>
                                </div>
                            </th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Thursday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Thu" class="check-all" id="check_all_Thu" @(Model.PincodeList.All(m => m.Thu) ? "checked" : "") />
                                    <label for="check_all_Thu"></label>
                                </div>
                            </th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Friday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Fri" class="check-all" id="check_all_Fri" @(Model.PincodeList.All(m => m.Fri) ? "checked" : "") />
                                    <label for="check_all_Fri"></label>
                                </div>
                            </th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Saturday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Sat" class="check-all" id="check_all_Sat" @(Model.PincodeList.All(m => m.Sat) ? "checked" : "") />
                                    <label for="check_all_Sat"></label>
                                </div>
                            </th>
                            <th class="text-center font-normal pb-4" style="width:11%;">
                                Sunday
                                <div class="checkbox checkbox-success ps-3">
                                    <input type="checkbox" value="true" data-day="Sun" class="check-all" id="check_all_Sun" @(Model.PincodeList.All(m => m.Sun) ? "checked" : "") />
                                    <label for="check_all_Sun"></label>
                                </div>
                            </th>
                            <th class="text-center align-middle" style="width:5%;">
                                <button class="btn-close btn-xs pe-4 btn-light invisible"></button>
                            </th>
                            <th class="text-center align-middle h6" style="width:6%;"></th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach (var item in Model.PincodeList)
                        {
                            <tr id="tr@(count)" class="pincode-row" data-count="@count">
                                <td class="text-center w-sm">@item.Pincode<input class="pincode-field" type="hidden" name="@(name)[@(count)].Pincode" value="@item.Pincode" /></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Mon" type="checkbox" name="@(name)[@(count)].Mon" id="@(name)[@(count)]_Mon" value="true" checked="@item.Mon" /><label for="@(name)[@(count)]_Mon"></label></div></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Tue" type="checkbox" name="@(name)[@(count)].Tue" id="@(name)[@(count)]_Tue" value="true" checked="@item.Tue" /><label for="@(name)[@(count)]_Tue"></label></div></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Wed" type="checkbox" name="@(name)[@(count)].Wed" id="@(name)[@(count)]_Wed" value="true" checked="@item.Wed" /><label for="@(name)[@(count)]_Wed"></label></div></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Thu" type="checkbox" name="@(name)[@(count)].Thu" id="@(name)[@(count)]_Thu" value="true" checked="@item.Thu" /><label for="@(name)[@(count)]_Thu"></label></div></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Fri" type="checkbox" name="@(name)[@(count)].Fri" id="@(name)[@(count)]_Fri" value="true" checked="@item.Fri" /><label for="@(name)[@(count)]_Fri"></label></div></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Sat" type="checkbox" name="@(name)[@(count)].Sat" id="@(name)[@(count)]_Sat" value="true" checked="@item.Sat" /><label for="@(name)[@(count)]_Sat"></label></div></td>
                                <td class="text-center pb-4"><div class="checkbox checkbox-success"><input class="day-check" data-day="Sun" type="checkbox" name="@(name)[@(count)].Sun" id="@(name)[@(count)]_Sun" value="true" checked="@item.Sun" /><label for="@(name)[@(count)]_Sun"></label></div></td>
                                <td class="text-center"><button class="btn-close p-2 btn-light remove-button" onclick="_removeRow(@(count));"></button></td>
                                <td class="text-center p-1"><a class="collapse-button"><i class="fa fa-chevron-left p-3"></i></a></td>
                            </tr>
                            <tr id="collapse@(count)" class="collapse collapse-row" data-count="@count">
                                <td colspan="10" class="bg-light">
                                    <div class="text-muted fw-bold ps-3 pb-2">Localities <div class="d-inline-block badge badge-info">@Model.Localities.Where(m => m.Pincode == item.Pincode).Count()</div></div>
                                    <div class="d-flex flex-wrap mx-2 small localities">
                                        @foreach (var l in Model.Localities.Where(m => m.Pincode == item.Pincode))
                                        {
                                            <span class="borders rounded-pill px-2 m-1 py-1">@l.Name</span>
                                        }
                                    </div>
                                </td>
                            </tr>
                            count = count + 1;
                        }
                    </tbody>
                </table>
            </div>

            <div class="p-2">
                <div class="px-3 d-inline-block"><label asp-for="ManagerId" class="col-form-label float-end fw-bold">Default Manager:</label></div>
                <div class="d-inline-block w-25">
                    <select class="form-control" asp-for="ManagerId" asp-items="Model.Managers" data-placeholder="Select Manager">
                    </select>
                    <span asp-validation-for="ManagerId" class="text-danger small"></span>
                </div>
                <button class="btn btn-success me-2 float-end" type="submit" style="width:20%;">Update</button>
            </div>

        </fieldset>
    </form>
</div>
<script>
      $(function () {
        $("#tableBody tr.pincode-row").click(function (e) {
            if ($(e.target).is('input.day-check') || $(e.target).is('label')) return true;
            $(this).next().collapse('toggle');
        });

          $('tr.collapse').on("show.bs.collapse", function () {
              var trid = "#tr" + $(this).attr('data-count');
            $(trid).find('.collapse-button i').removeClass('fa-chevron-left') .addClass('fa-chevron-down');
        });

        $('tr.collapse').on("hide.bs.collapse", function () {
            var trid = "#tr" + $(this).attr('data-count');
            $(trid).find('.collapse-button i').removeClass('fa-chevron-down').addClass('fa-chevron-left');
        });



            $("#@Html.IdFor(m=>m.ManagerId)").select2();

            $(".check-all").click(function () {
                var day = $(this).attr("data-day");
                var checked = $(this).is(":checked");
                $("#tableBody").find(".day-check[data-day='" + day + "']").prop("checked", checked);
            });

            $("form input").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                }
            });

            $("#searchPincodeAndLocalities").on('keyup', function () {
                var searchBox = $(this);
                var val = searchBox.val();
                val = val.toLowerCase();

                if ($.isNumeric(val) || val == "") {
                    $("#tableBody tr.pincode-row").each(function (i) {
                        var icon = $(this).find('.collapse-button i');
                        icon.removeClass('fa-chevron-down');
                        icon.addClass('fa-chevron-left');
                    });
                } else {
                    $("#tableBody tr.pincode-row").each(function (i) {
                        var icon = $(this).find('.collapse-button i');
                        icon.removeClass('fa-chevron-left');
                        icon.addClass('fa-chevron-down');
                    });
                }
                if (val == ""){
                    $("#tableBody tr").each(function (i) {
                        if ($(this).hasClass('pincode-row')) {
                            $(this).show();
                        } else {
                            $(this).collapse('hide');
                        }
                    });
                } else {

                     $("#tableBody tr.pincode-row").each(function (i) {
                         var matched = false;
                         var val1 = "";
                         $(this).children().each(function () {
                             val1 = $(this).text();
                             matched = val1.includes(val);
                             val1 = val1.toLowerCase();
                            if (matched) {
                                return false;
                            }
                        });
                        if (!matched) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });

                     $("#tableBody tr.collapse-row").each(function (i) {
                        var matched = false;
                         var val1 = "";
                         $(this).find('span').each(function () {
                             val1 = $(this).text();
                             val1 = val1.toLowerCase();
                            matched = val1.includes(val);
                            if (matched) {
                                return false;
                            }
                        });

                         if (!matched) {
                             $(this).removeClass('show');
                        } else {
                            var trId = $(this).attr('data-count');
                             $("#tr" + trId).show();
                             $(this).addClass('show');
                            if ($.isNumeric(val)) {
                                var icon = $("#tr" + trId).find('.collapse-button i');
                                icon.removeClass('fa-chevron-left');
                                icon.addClass('fa-chevron-down');
                            }
                        }
                    });
                }
            });

      });

      function _removeRow(id) {
             var controlToBeRemoved = '#tr' + id;
             var collapseToBeRemoved = '#collapse' + id;
             var i = 0;

             $(controlToBeRemoved).nextAll("tr:odd").each(function (index) {
                i = parseInt(id) + index;
                //for pincode row
                 $(this).attr('id', 'tr' + i + '');
                 $(this).attr('data-count', '' + i + '');
                $(this).find('.pincode-field').attr('name', '@(name)[' + i + '].Pincode');
                $(this).attr('data-bs-target','#collapse' + i + '');
                $(this).attr('aria-controls', 'collapse' + i + '');
                _changeNameAndIdOfInputAndLabel($(this), "Mon", i);
                _changeNameAndIdOfInputAndLabel($(this), "Tue", i);
                _changeNameAndIdOfInputAndLabel($(this), "Wed", i);
                _changeNameAndIdOfInputAndLabel($(this), "Thu", i);
                _changeNameAndIdOfInputAndLabel($(this), "Fri", i);
                _changeNameAndIdOfInputAndLabel($(this), "Sat", i);
                _changeNameAndIdOfInputAndLabel($(this), "Sun", i);
                $(this).find('.remove-button').attr('onclick', '_removeRow(' + i + ')');

                //for collapse row
                $(this).next().attr('id', 'collapse' + i + '');
                $(this).next().attr('data-count', '' + i + '');
            });

             $(controlToBeRemoved).remove();
             $(collapseToBeRemoved).remove();
    }

      function _changeNameAndIdOfInputAndLabel(selector, day, i) {
            var inside = i + 1;
            selector.find('input[name="@(name)[' + inside + '].' + day + '"]').attr('name', '@(name)[' + i + '].' + day + '');
            selector.find('input[id="@(name)[' + inside + ']_' + day + '"]').attr('id', '@(name)[' + i + ']_' + day + '');
            selector.find('label[for="@(name)[' + inside + ']_' + day + '"]').attr('for', '@(name)[' + i + ']_' + day + '');
    }

</script>