@page
@model TKW.AdminPortal.Areas.Material.Pages.RateListModel
@{
    ViewBag.Title = "Rate list";
}
<pagetitle title="Rate List" description="Edit rates of pickup materials"></pagetitle>
<div class="content">
    @if (!Model.IsFranchise)
    {
        @await Component.InvokeAsync("SelectFranchise")
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="table-responsible">
                            <div id="search_container">
                                <div class="searchElem border-bottom">
                                    <input style="width:100%; padding:15px 7px; font-size:14px;" type="text" placeholder="Search Materials" id="searchMaterials" />
                                </div>
                            </div>
                            <table class="table" id="ratelist_table">
                                @foreach (var material in Model.Materials)
                                {
                                    var rate = Model.MaterialRates.FirstOrDefault(m => m.Id == material.Id);
                                    <tr class="ratelist_tr">
                                        <td class="align-middle">
                                            <div class="h6 mb-0 py-2">@material.Name</div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-end">
                                                <form data-ajax="true"
                                                       data-ajax-url="@Url.Action("UpdateRateOfFranchise","Rate")"
                                                       data-ajax-method="post"
                                                       data-ajax-begin="$('#@(material.Id)_btn').data('state','1'); $('#@(material.Id)_btn').html('Updating').attr('disabled','');"
                                                       data-ajax-success="$('#@(material.Id)_btn').html('Updated').removeClass('btn-default').addClass('btn-success');"
                                                       data-ajax-error="$('#@(material.Id)_btn').html('Failed').removeClass('btn-default').addClass('btn-danger');">
                                                    <input name="PurchaseMaterialId" value="@material.Id" type="hidden" />
                                                    <div class="text-left checkbox checkbox-circle checkbox-success d-inline-block pe-5 pb-2">
                                                        <input class="visibility-checkbox" type="checkbox" @(rate?.IncludeInRateList == true ? "checked" : "") name="IncludeInRateList" value="true" id="@(material.Id)_includeCheckbox" />
                                                        <label for="@(material.Id)_includeCheckbox">Visible to user</label>
                                                    </div>
                                                    <div class="rate-input-minmax rate-input">
                                                        <span class="p-r-sm"><small class="font-trans">Min Rate</small></span> <br />
                                                        <span class="suffix">₹</span>
                                                        <input class="min" type="number" step="0.01" name="MinRate" data-materialid="@material.Id" id="@(material.Id)_inputIdmin" value="@(rate == null ? "" :rate.MinRate.ToString("0.00"))" placeholder="Rate" />
                                                    </div>
                                                    <div class="rate-input-default rate-input">
                                                        <span class="suffix">₹</span>
                                                        <input class="defaultvalue" type="number" step="0.01" name="Rate" data-materialid="@material.Id" id="@(material.Id)_inputId" value="@(rate==null ?"":rate.Rate.ToString("0.00"))" placeholder="Rate" />
                                                    </div>
                                                    <div class="rate-input-minmax rate-input">
                                                        <span class="p-r-sm"><small class="font-trans">Max Rate</small></span> <br />
                                                        <span class="suffix">₹</span>
                                                        <input class="max" type="number" step="0.01" name="MaxRate" data-materialid="@material.Id" id="@(material.Id)_inputIdmax" value="@(rate==null ? "" :rate.MaxRate.ToString("0.00"))" placeholder="Rate" />
                                                    </div>
                                                    <div class="btn-container m-l-md">
                                                        <button type="submit" data-state="0" id="@(material.Id)_btn" class="btn btn-sm btn-default updatebtn" data-materialid="@material.Id" style="margin-top:-10px">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                          
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Styles{
    <link href="~/css/bootstrap-checkbox.min.css" asp-append-version="true" rel="stylesheet" />
    <style>
        .rate-input-default {
            display: inline-block;
            margin-right: 30px;
            margin-left: 30px;
            border-bottom: 1px solid #e4e5e7;
        }

        .rate-input-minmax {
            display: inline-block;
            border-bottom: 1px solid #e4e5e7;
        }

        .rate-input-default span.suffix {
            font-size: 14px;
        }

        .rate-input-minmax span.suffix {
            font-size: 10px;
        }

        .rate-input-default input {
            border: none;
            font-size: 17px;
            font-weight: 600;
            width: 75px;
            padding-right: 5px;
            text-align: right;
            outline: none;
        }

        .rate-input-minmax input {
            border: none;
            font-size: 12px;
            font-weight: 600;
            width: 55px;
            padding-right: 5px;
            text-align: right;
            outline: none;
        }

        .btn-container {
            display: inline-block;
        }
    </style>
}
@section Scripts{
    <script src="~/js/searchelem.min.js"></script>
    <script>
        $(function () {
            $('.visibility-checkbox').on('change', function () {
                var form = $(this).closest('form');
                var button = form.find("button");
                button.removeAttr('disabled');
                if (button.data('state') == "1") {
                    $(this).parents('tr').find('.updatebtn').html('Update').removeClass('btn-success').removeClass('btn-danger').addClass('btn-default').removeAttr('disabled');
                    $(this).data('state', '0');
                }
            });
            $('.rate-input input').on('keyup', function () {
                var form = $(this).closest('form');
                var min = parseFloat(form.find("input.min").val());
                var defaultvalue = parseFloat(form.find("input.defaultvalue").val());
                var max = parseFloat(form.find("input.max").val());
                var button = form.find("button");
                if (isNaN(min) || isNaN(max) || isNaN(defaultvalue) || min > defaultvalue || defaultvalue > max) {
                    button.attr('disabled', '');
                }
                else {
                    button.removeAttr('disabled');
                }
                if (button.data('state') == "1") {
                    $(this).parents('tr').find('.updatebtn').html('Update').removeClass('btn-success').removeClass('btn-danger').addClass('btn-default').removeAttr('disabled');
                    $(this).data('state', '0');
                }
            });
            $("#searchMaterials").SearchElem("#ratelist_table tr.ratelist_tr", [{ elem: "td", type: "text" }], { numberOfResult: 0 });
        });
    </script>
}
